.fixBtn {
  position: fixed;
}

.footer {
  padding: 4.5% 1% 2.3% 0;
  position: relative;
  z-index: 11;
  background-color: #000;
  &__links {
    width: 9.5%;
    margin: 0 auto 1%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #000;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 110%;
      width: 85%;
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
    }
    &::after {
      opacity: 0.2;
      content: "";
      position: absolute;
      top: 50%;
      left: 110%;
      width: 85%;
      height: 1px;
      background-color: #fff;
    }
    li {
      position: relative;
    }
  }
  a {
    display: block;
    transition: transform 0.5s;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__note {
    display: block;
    width: 10%;
    margin: 0 auto;
    transform: translateY(-6%);
  }
}
