@import './reset';
@import './_HFF.scss';

body{
    position: relative;
    background-image: url('../pc.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    >div {
        opacity: 0.8;
        // opacity: 0;
        &::after{
            content: '';
            z-index: 10;
            right: 0;
            top: 0;
            position: absolute;
            width: 6%;
            height: 100%;
            background-image: url('../imgs/right_bg.jpg');
        }
    }
   
}

img{
    max-width: 100%;
}

*{
    outline: 1px solid red;
}