@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove default link styles */
a {
  color: currentColor;
  text-decoration: none;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

/* Inherit fonts for inputs and buttons */
input::-moz-placeholder {
  font: inherit;
  color: currentColor;
}
input:-ms-input-placeholder {
  font: inherit;
  color: currentColor;
}
input,
button,
textarea,
select,
input::placeholder {
  font: inherit;
  color: currentColor;
}

@font-face {
  font-family: "Microsoft JhengHei Modify";
  unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local("Yu Gothic UI Bold"), local("MS Gothic");
}
@font-face {
  font-family: "Microsoft JhengHei Modify";
  src: local("Microsoft JhengHei UI"), local("Microsoft JhengHei");
}
@font-face {
  font-family: "Microsoft JhengHei";
  src: local("Microsoft JhengHei UI"), local("Microsoft JhengHei");
}
@-webkit-keyframes show-header {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes show-header {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body.scrollBack .header {
  opacity: 1;
  position: fixed;
  -webkit-animation-name: show-header;
          animation-name: show-header;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header {
  position: absolute;
  top: 0px;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 0 20px;
}
.header .logo {
  width: 80px;
}
.header__ham {
  display: none;
}
.header__menu {
  display: flex;
  color: #fff;
}
.header__menu-link {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all 0.5s;
}
.header__menu-link:hover {
  color: #000;
  background-color: #fff;
}
@media (max-width: 768px) {
  .header {
    height: 80px;
  }
  .header .logo {
    width: 70px;
  }
  .header__ham {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
    cursor: pointer;
  }
  .header__ham span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s;
    transform-origin: right center;
  }
  .header__ham span:nth-child(1) {
    top: 0;
  }
  .header__ham span:nth-child(2) {
    top: calc(50% - 1px);
  }
  .header__ham span:nth-child(3) {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0px;
    left: 0;
    display: none;
    flex-direction: row;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .header__menu li {
    width: 100%;
  }
  .header__menu-link {
    margin: 20px 0px;
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.5s;
  }
  .header__menu-link:hover {
    color: #000;
    background-color: #fff;
  }
}

.mActive .header__ham span:nth-child(1) {
  transform: rotate(-45deg);
}
.mActive .header__ham span:nth-child(2) {
  opacity: 0;
  transform: translateX(10px);
}
.mActive .header__ham span:nth-child(3) {
  transform: rotate(45deg);
}
.mActive .header__menu {
  display: block;
  opacity: 1;
}
@media (max-width: 768px) {
  .mActive .header {
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: top 0.2s;
  }
}

.gift {
  position: relative;
  background-image: url("../images/gift_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}
.gift__deco {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gift__deco .ball {
  position: absolute;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.gift__deco .ball-1 {
  top: -10%;
  right: calc(50% + 500px);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.gift__deco .ball-2 {
  top: 0;
  left: calc(50% + 350px);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.gift__deco .ball-3 {
  top: 48%;
  right: calc(50% + 580px);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.gift__deco .ball-4 {
  left: calc(50% + 350px);
  top: 33%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.gift__title {
  text-align: center;
  margin-bottom: 50px;
}
.gift__title img {
  display: inline-block;
}
.gift-sharp-tv {
  box-shadow: 0 0 100px -20px #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.gift-sharp-tv__top {
  width: 100%;
}
.gift-sharp-tv__bottom {
  display: flex;
  justify-content: center;
}
.gift-sharp-tv__more {
  text-align: right;
  margin-bottom: 50px;
}
.gift-sharp-tv__more a {
  display: inline-block;
}
.gift__subTitle {
  margin-bottom: 20px;
}
.gift-bonus {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.gift-note {
  display: flex;
  justify-content: center;
  position: relative;
}
.gift-note__contact {
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1366px) {
  .gift-note {
    flex-wrap: wrap;
  }
  .gift-note__content {
    margin-bottom: 10px;
  }
  .gift-note__contact {
    position: relative;
  }
}

.video {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #dedaed;
  overflow: hidden;
}
.video::after, .video::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.video::before {
  width: 766px;
  height: 766px;
  background-image: url("../images/video_ball1.png");
  top: -32%;
  right: calc(50% + 420px);
}
.video::after {
  width: 690px;
  height: 690px;
  bottom: -10%;
  left: calc(50% + 460px);
  background-image: url("../images/video_ball2.png");
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.video__wrap {
  min-height: 800px;
  border-radius: 40px;
  width: 100%;
  background-color: #fff;
}

body {
  position: relative;
  min-width: 320px;
  font-family: "Noto Sans TC", Roboto, Arial, "Microsoft JhengHei Modify", "Microsoft JhengHei", PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  height: 200vh;
}

input,
label,
select,
button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  display: block;
}

#app {
  max-width: 1920px;
  overflow: hidden;
}
@media (max-width: 768px) {
  #app {
    min-width: 360px;
    overflow: auto;
  }
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.1;
}

.container {
  position: relative;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}