@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove default link styles */
a {
  color: currentColor;
  text-decoration: none;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

/* Inherit fonts for inputs and buttons */
input::-moz-placeholder {
  font: inherit;
  color: currentColor;
}
input:-ms-input-placeholder {
  font: inherit;
  color: currentColor;
}
input,
button,
textarea,
select,
input::placeholder {
  font: inherit;
  color: currentColor;
}

@font-face {
  font-family: "Microsoft JhengHei Modify";
  unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local("Yu Gothic UI Bold"), local("MS Gothic");
}
@font-face {
  font-family: "Microsoft JhengHei Modify";
  src: local("Microsoft JhengHei UI"), local("Microsoft JhengHei");
}
@font-face {
  font-family: "Microsoft JhengHei";
  src: local("Microsoft JhengHei UI"), local("Microsoft JhengHei");
}
@-webkit-keyframes show-header {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes show-header {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body.scrollBack .header {
  opacity: 1;
  position: fixed;
  -webkit-animation-name: show-header;
          animation-name: show-header;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
body.scrollBack .header::before {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
body.scrollBack .header .wrap1920 {
  padding: 0px 20px;
  height: 110px;
  align-items: center;
}
body.scrollBack .header .logo {
  margin-top: 0;
  margin-left: 0;
  width: 100px;
}
body.scrollBack .header__menu {
  margin-right: 45px;
  margin-top: 0;
}
@media (max-width: 768px) {
  body.scrollBack .header .wrap1920 {
    width: 100%;
    height: 70px;
  }
  body.scrollBack .header .logo {
    width: 200px;
  }
  body.scrollBack .header__menu {
    margin-right: 0;
  }
}

.header {
  position: absolute;
  top: 0px;
  z-index: 30;
  width: 100%;
}
.header .wrap1920 {
  padding: 0 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1920px;
}
.header::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  height: 100%;
  content: "";
  pointer-events: none;
}
.header .logo {
  margin-top: 3%;
  margin-left: 3.3%;
  width: 10%;
}
.header__ham {
  display: none;
}
.header__menu {
  margin-right: 45px;
  margin-top: 1.7%;
  margin-left: auto;
  display: flex;
  color: #fff;
}
.header__menu-link {
  margin-left: 30px;
  transition: all 0.5s;
}
.header__menu-link:hover {
  transform: translateX(-10px);
}
@media (max-width: 1280px) {
  .header__menu {
    height: 35px;
    margin-right: 0;
    margin-top: 1.3%;
  }
  .header__menu-link {
    height: 100%;
    margin-left: 0px;
  }
  .header__menu-link img {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 768px) {
  .header::before {
    display: none;
  }
  .header .wrap1920 {
    padding: 0px 20px 0;
    align-items: center;
    height: 70px;
    background-color: #fff;
  }
  .header .logo {
    margin-top: 0px;
    margin-left: 0;
    width: 200px;
  }
  .header__ham {
    position: relative;
    display: block;
    width: 40px;
    height: 25px;
    cursor: pointer;
  }
  .header__ham span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3s;
    transform-origin: right center;
  }
  .header__ham span:nth-child(1) {
    top: 0;
  }
  .header__ham span:nth-child(2) {
    top: calc(50% - 1px);
  }
  .header__ham span:nth-child(3) {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    margin-top: 0;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    display: none;
    height: calc(100% - 70px);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .header__menu li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.mActive .header__ham span:nth-child(1) {
  transform: rotate(-35deg);
}
.mActive .header__ham span:nth-child(2) {
  opacity: 0;
  transform: translateX(10px);
}
.mActive .header__ham span:nth-child(3) {
  transform: rotate(35deg);
}
.mActive .header__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  opacity: 1;
}
@media (max-width: 768px) {
  .mActive .header {
    position: fixed;
    top: 0px;
    transition: top 0.2s;
  }
}
.mActive .float-links {
  z-index: 29;
}

.float-links {
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 40;
  width: 4.2%;
  min-width: 60px;
}
.float-links .float-link {
  margin-bottom: 25px;
  box-shadow: 0 0 8px #fff;
  transform: translateX(10px);
  transition: transform 0.3s;
}
.float-links .float-link:hover {
  transform: translateX(0px);
}
.float-links .float-link:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .float-links {
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .float-links .float-link {
    margin-bottom: 0px;
    box-shadow: 0 0 15px #fff;
    transform: translateX(0px);
  }
  .float-links .float-link:hover {
    transform: translateX(0px);
  }
  .float-links .float-link img {
    margin-bottom: -3px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.kv {
  position: relative;
  overflow: hidden;
  background-image: url(../images/kv_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.kv .wrap1920 {
  height: 960px;
  transform: scale(0.9);
  transform-origin: center 20%;
}
@media (max-width: 1920px) {
  .kv .wrap1920 {
    height: auto;
    padding-bottom: 50.2%;
  }
}
@media (max-width: 768px) {
  .kv .wrap1920 {
    transform: scale(1);
  }
}
.kv__tit {
  position: absolute;
  width: 36.3%;
  left: 10%;
  top: 13%;
}
.kv__tit span {
  display: none;
}
.kv__tv {
  position: absolute;
  width: 46%;
  left: 40.4%;
  top: 19.5%;
}
.kv__ball {
  position: absolute;
}
.kv__ball1 {
  width: 25.2%;
  left: -3.6%;
  bottom: 21%;
  animation: pulse 4.1s infinite alternate-reverse;
  transform-origin: center bottom;
}
.kv__ball2 {
  width: 17.6%;
  right: -7.5%;
  bottom: 23%;
  animation: pulse 2.3s infinite alternate-reverse;
  transform-origin: center bottom;
}
.kv__ball3 {
  left: 36.2%;
  top: 14.3%;
  width: 20%;
  animation: pulse 3.2s infinite alternate-reverse;
}
.kv__car {
  position: absolute;
}
.kv__car1 {
  width: 15.1%;
  left: 7.6%;
  bottom: 12.2%;
}
.kv__car2 {
  width: 27.1%;
  left: 8.6%;
  bottom: 8.8%;
}
.kv__car3 {
  width: 22.2%;
  left: 23.6%;
  bottom: 8.1%;
}
.kv__car4 {
  width: 17%;
  left: 40.1%;
  bottom: 7.2%;
}
.kv__car5 {
  width: 16.3%;
  left: 54.6%;
  bottom: 10.1%;
}
.kv__car6 {
  width: 18.8%;
  left: 62.6%;
  bottom: 10.2%;
}
.kv__car7 {
  width: 16.9%;
  left: 74.6%;
  bottom: 12.1%;
}
.kv__icon {
  position: absolute;
  width: 8.3%;
  left: 5.2%;
  bottom: 3.5%;
}
@media (max-width: 768px) {
  .kv .wrap1920 {
    margin-top: 20px;
    padding-bottom: 151%;
  }
  .kv__tit {
    width: 81.8%;
    left: 8.9%;
    top: 10%;
  }
  .kv__tv {
    width: 76%;
    left: 18.4%;
    top: 46.3%;
  }
  .kv__ball1 {
    width: 41.8%;
    left: -18.6%;
    bottom: 34%;
  }
  .kv__ball2 {
    display: none;
  }
  .kv__ball3 {
    left: 65.2%;
    top: 18.3%;
    width: 59%;
  }
  .kv__car1 {
    width: 17.1%;
    left: 5.7%;
    bottom: 17.9%;
  }
  .kv__car2 {
    width: 29.1%;
    left: 7.6%;
    bottom: 15.6%;
  }
  .kv__car3 {
    width: 24.2%;
    bottom: 14.1%;
  }
  .kv__car4 {
    width: 20%;
    left: 39.6%;
    bottom: 12.8%;
  }
  .kv__car5 {
    width: 18.1%;
    bottom: 15.6%;
  }
  .kv__car6 {
    width: 20.3%;
    bottom: 16.6%;
  }
  .kv__car7 {
    width: 18.9%;
    bottom: 18.6%;
  }
  .kv__icon {
    width: 26.8%;
    left: 4.9%;
    bottom: 2.9%;
  }
}

.gift {
  position: relative;
  background-image: url("../images/gift_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 1024px) {
  .gift {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 1024px) {
  .gift .container {
    max-width: 600px;
  }
}
.gift__deco {
  position: absolute;
  width: 100%;
  height: 100%;
}
.gift__deco .ball {
  position: absolute;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.gift__deco .ball-1 {
  top: -10%;
  right: calc(50% + 500px);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.gift__deco .ball-2 {
  top: 0;
  left: calc(50% + 350px);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.gift__deco .ball-3 {
  top: 48%;
  right: calc(50% + 580px);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.gift__deco .ball-4 {
  left: calc(50% + 350px);
  top: 33%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@media (max-width: 1024px) {
  .gift__deco .ball-1 {
    top: -12%;
    right: auto;
    left: -50%;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .gift__deco .ball-2 {
    top: 10%;
    left: auto;
    right: -20%;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .gift__deco .ball-3 {
    top: 38%;
    right: auto;
    left: -20%;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .gift__deco .ball-4 {
    width: 400px;
    left: auto;
    right: -20%;
    top: auto;
    bottom: -1%;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
}
.gift__title {
  text-align: center;
  margin-bottom: 50px;
}
.gift__title img {
  display: inline-block;
}
@media (max-width: 1024px) {
  .gift__title {
    margin-bottom: 20px;
  }
}
.gift-sharp-tv {
  box-shadow: 0 0 100px -20px #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto 20px;
}
.gift-sharp-tv__top {
  width: 100%;
}
.gift-sharp-tv__bottom {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .gift-sharp-tv__bottom {
    display: block;
  }
}
.gift-sharp-tv__more {
  text-align: right;
  max-width: 960px;
  margin: 0 auto 50px;
}
.gift-sharp-tv__more a {
  display: inline-block;
}
@media (max-width: 1024px) {
  .gift-sharp-tv__more {
    text-align: center;
  }
  .gift-sharp-tv__more a {
    width: 150px;
  }
}
.gift__subTitle {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .gift__subTitle {
    margin: 0 auto 20px;
    max-width: 600px;
  }
}
.gift-bonus {
  display: flex;
  justify-content: center;
  margin: 0 auto 80px;
  max-width: 960px;
}
@media (max-width: 1024px) {
  .gift-bonus {
    display: block;
    max-width: 300px;
    margin: 0 auto 40px;
  }
}
.gift-note {
  display: flex;
  justify-content: center;
  position: relative;
}
.gift-note__contact {
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1366px) {
  .gift-note {
    flex-wrap: wrap;
  }
  .gift-note__content {
    margin-bottom: 40px;
  }
  .gift-note__contact {
    position: relative;
  }
}
@media (max-width: 1024px) {
  .gift-note__contact {
    text-align: center;
    width: 150px;
  }
}

.video {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #dedaed;
  overflow: hidden;
}
@media (max-width: 960px) {
  .video {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.video::after, .video::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.video::before {
  width: 766px;
  height: 766px;
  background-image: url("../images/video_ball1.png");
  top: -32%;
  right: calc(50% + 420px);
}
.video::after {
  width: 690px;
  height: 690px;
  bottom: -10%;
  left: calc(50% + 460px);
  background-image: url("../images/video_ball2.png");
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.video__wrap {
  border-radius: 40px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 960px) {
  .video__wrap {
    border-radius: 20px;
  }
}

.car {
  position: relative;
  padding-top: 150px;
  background: linear-gradient(0deg, rgb(139, 137, 165) 0%, rgb(210, 206, 225) 100%);
}
.car__intro-btns {
  display: flex;
  margin-bottom: 50px;
}
.car__intro-btn {
  background-color: #fff;
  border: none;
  position: relative;
  height: 77px;
  flex: 1;
  transition: background-color 0.3s;
  margin: 0 2px;
}
.car__intro-btn:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 0;
}
.car__intro-btn:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 0;
}
.car__intro-btn img {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.car__intro-btn .active {
  opacity: 0;
}
.car__intro-btn.active, .car__intro-btn:hover {
  background-color: #212121;
}
.car__intro-btn.active .active, .car__intro-btn:hover .active {
  opacity: 1;
}
.car__intro-btn.active .normal, .car__intro-btn:hover .normal {
  opacity: 0;
}
.car__intro-boards {
  position: relative;
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 20px;
}
.car__intro-board {
  display: none;
  top: 0;
}
.car__intro-board.active {
  display: block;
}
.car__intro-board-content .mb {
  display: none;
}
.car__intro-board-links {
  position: absolute;
  display: flex;
  margin-bottom: 3%;
  bottom: 0;
  left: 0;
  width: 94%;
  margin-left: 6%;
}
.car__intro-board-links a {
  width: 15%;
  margin-right: 10px;
  transition: transform 0.3s;
}
.car__intro-board-links a:hover {
  transform: translateX(-10px);
}
.car__signs {
  display: flex;
  margin-bottom: 60px;
  justify-content: flex-end;
  height: 40px;
}
.car__signs img {
  margin-left: 20px;
  height: 100%;
}
.car__note {
  padding-left: 20px;
  list-style: disc;
  color: #fff;
  line-height: 2;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 40px;
}
.car__footer {
  padding-bottom: 20px;
}
.car__footer img {
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .car {
    padding-top: 80px;
  }
  .car__intro-btns {
    margin-bottom: 40px;
  }
  .car__intro-btn {
    height: 60px;
  }
}
@media (max-width: 960px) {
  .car {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .car__intro-btns {
    margin-bottom: 0;
    overflow: auto;
  }
  .car .container-btns {
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .car .container-btns::after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: -20px;
    bottom: 0;
    width: 100%;
    right: 0;
    box-shadow: inset -5px 0px 30px #fff;
  }
  .car .container-btns:hover::after {
    display: none;
  }
  .car__intro-btn {
    height: 55px;
    width: 137px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
  }
  .car__intro-btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .car__intro-btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .car__intro-boards {
    border-radius: 10px;
  }
  .car__intro-board {
    padding: 40px 0;
  }
  .car__intro-board-content {
    text-align: center;
    margin-bottom: 60px;
  }
  .car__intro-board-content .mb {
    display: inline-block;
  }
  .car__intro-board-content .pc {
    display: none;
  }
  .car__intro-board-links {
    position: relative;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
  }
  .car__intro-board-links a {
    width: 40%;
    max-width: 239px;
  }
  .car__intro-board-links a:first-child {
    margin-right: 5x;
    margin-left: 30px;
  }
  .car__intro-board-links a:last-child {
    margin-left: 5px;
  }
  .car__signs {
    height: 30px;
  }
  .car__note {
    font-size: 14px;
  }
  .car__footer img {
    width: 150px;
  }
}

body {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  font-family: "Noto Sans TC", Roboto, Arial, "Microsoft JhengHei Modify", "Microsoft JhengHei", PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

input,
label,
select,
button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  display: block;
}

#app {
  width: 100%;
  overflow: hidden;
}
#app.timeNone {
  display: none;
}
@media (max-width: 768px) {
  #app {
    min-width: 360px;
    overflow: auto;
  }
}

.container {
  position: relative;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
h1 span,
h2 span,
h3 span {
  display: none;
}

.button {
  transition: transform 0.5s;
  cursor: pointer;
}
.button:hover {
  transform: translateX(-10px);
}

.padBlock {
  display: none !important;
}

.mobileBlock {
  display: none !important;
}

@media (max-width: 1024px) {
  .padBlock {
    display: block !important;
  }
  .padNone {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .mobileBlock {
    display: block !important;
  }
  .mobileNone {
    display: none !important;
  }
}
.wrap1920 {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}