.PageControl {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-weight: 700;

  @include screen(480) {
    flex-direction: column;
    align-items: center;
  }

  &-pages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;

    >button {
      width: 30px;
      height: 30px;
      border-radius: 50%;

      &.active,
      &:hover {
        background-color: #a9b7b7;
      }
    }
  }

  >button {
    flex-shrink: 0;
    width: 120px;
    padding: 5px 20px;
    font-size: 14px;
    border: 1px solid #002c18;
    border-radius: 5px;
  }
}