@keyframes show-header {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body.scrollBack .header {
  opacity: 1;
  position: fixed;
  animation-name: show-header;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  padding: 0px 20px;
  height: 110px;
  align-items: center;

  &::before{
    background-image: linear-gradient(to bottom, rgba(#000, .2), rgba(#000, 0));
  }

  .logo{
    margin-top: 0;
    margin-left: 0;
    width: 100px;
  }

  &__menu {
    margin-right: 45px;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    height: 70px;
    padding: 10px 20px;
    .logo {
      width: 200px;
    }
    &__menu {
      margin-right: 0;
    }
  }
}

.header {
  position: absolute;
  top: 0px;
  z-index: 30;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  padding: 0 20px 0;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 20%;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(#fff, .4), rgba(#fff, 0));
    height: 100%;
    content: '';
    pointer-events: none;
    
  }

  .logo {
    margin-top: 5%;
    margin-left: 3.3%;
    width: 10%;
  }

  &__ham {
    display: none;
  }

  &__menu {
    margin-right: 45px;
    margin-top: 2.7%;
    margin-left: auto;
    display: flex;
    color: #fff;

    &-link {
      margin-left: 30px;
      transition: all .5s;

      &:hover {
        transform: translateX(-10px);
      }
    }
  }

  @media (max-width: 1280px) {
    &__menu{
      height: 35px;
      margin-right: 0;
      margin-top: 1.3%;
      &-link {
        height: 100%;
        margin-left: 0px;
        img{
          height: 100%;
          width: auto;
        }
      }
    }
    
  }
  @media (max-width: 768px) {
    height: 70px;
    background-color: #fff;
    align-items: center;
    padding: 10px 20px 0;
    &::before {
      display: none;
    }

    .logo {
      margin-top: 0px;
      margin-left: 0;
      width: 200px;
    }

    &__ham {
      position: relative;
      display: block;
      width: 40px;
      height: 25px;
      cursor: pointer;

      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        transition: all .3s;
        transform-origin: right center;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }
    }

    &__menu {
      position: fixed;
      margin-top: 0;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0px;
      left: 0;
      display: none;
      height: calc(100% - 70px);
      align-items: center;
      background-color: rgba(#000000, .6);
      opacity: 0;
      transition: opacity .5s;

      li {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.mActive {
  .header__ham {
    span {
      &:nth-child(1) {
        transform: rotate(-35deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(10px);
      }

      &:nth-child(3) {
        transform: rotate(35deg);
      }
    }
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    opacity: 1;
  }
  @media (max-width: 768px) {
    .header {
      position: fixed;
      top: 0px;
      transition: top .2s;
    }
  }
  .float-links {
    z-index: 29;
  }
}


.float-links {
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 40;
  width: 4.2%;
  min-width: 60px;

  .float-link {
    margin-bottom: 25px;
    box-shadow: 0 0 8px #fff;
    transform: translateX(10px);
    transition: transform .3s;

    &:hover {
      transform: translateX(0px);

    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}