.part__note {
  position: relative;
  padding: 4% 9% 40px 6.9%;
  font-size: 18px;
  line-height: 1.8;
  color: #fff;

  ul {
    position: relative;
    z-index: 1;
  }

  li > ul {
    margin-left: 20px;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
    padding: 30px 50px 80px 30px;
    font-size: 16px;
  }
}

.note {
  &__coin1 {
    position: absolute;
    bottom: 40px;
    left: -9.2%;
    width: 15%;
    animation: ani-coinJump  2.1s 0s infinite linear;
  }
  @media (max-width: 768px) {
    &__coin1 {
      bottom: -25px;
      left: 73.8%;
      width: 15%;
    }

    &__coin2 {
      position: absolute;
      bottom: 41%;
      left: -11%;
      width: 15%;
      animation: ani-coinJump  1.7s 0s infinite linear;
    }
  }
}