.kv {
  position: relative;
  overflow: hidden;
  background-image: url(../images/kv_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;


  .wrap1920{
    height: 960px;
    transform: scale(0.9);
    transform-origin: center 20%;
    @media (max-width: 1920px) {
      height: auto;
      padding-bottom: 50.2%;
    }

    @media (max-width: 768px) {
      transform: scale(1);
    }
  }



  &__tit {
    position: absolute;
    width: 36.3%;
    left: 10%;
    top: 13%;

    span {
      display: none;
    }
  }

  &__tv {
    position: absolute;
    width: 46%;
    left: 40.4%;
    top: 19.5%;
  }

  &__ball {
    position: absolute;

    &1 {
      width: 25.2%;
      left: -3.6%;
      bottom: 21%;
      animation: pulse 4.1s infinite alternate-reverse;
      transform-origin: center bottom;
    }

    &2 {
      width: 17.6%;
      right: -7.5%;
      bottom: 23%;
      animation: pulse 2.3s infinite alternate-reverse;
      transform-origin: center bottom;
    }

    &3 {
      left: 36.2%;
      top: 14.3%;
      width: 20%;
      animation: pulse 3.2s infinite alternate-reverse;
    }
  }

  &__car {
    position: absolute;

    &1 {
      width: 15.1%;
      left: 7.6%;
      bottom: 12.2%;
    }

    &2 {
      width: 27.1%;
      left: 8.6%;
      bottom: 8.8%;
    }

    &3 {
      width: 22.2%;
      left: 23.6%;
      bottom: 8.1%;
    }

    &4 {
      width: 17%;
      left: 40.1%;
      bottom: 7.2%;
    }

    &5 {
      width: 16.3%;
      left: 54.6%;
      bottom: 10.1%;
    }

    &6 {
      width: 18.8%;
      left: 62.6%;
      bottom: 10.2%;
    }

    &7 {
      width: 16.9%;
      left: 74.6%;
      bottom: 12.1%;
    }
  }

  &__icon {
    position: absolute;
    width: 8.3%;
    left: 5.2%;
    bottom: 3.5%;
  }

  @media (max-width: 768px) {

    .wrap1920 {
      margin-top: 20px;
      padding-bottom: 151%;
    }

    &__tit {
      width: 81.8%;
      left: 8.9%;
      top: 10%;
    }

    &__tv {
      width: 76%;
      left: 18.4%;
      top: 46.3%;
    }

    &__ball {
      &1 {
        width: 41.8%;
        left: -18.6%;
        bottom: 34%;
      }

      &2 {
        display: none;
      }

      &3 {
        left: 65.2%;
        top: 18.3%;
        width: 59%;
      }
    }

    &__car {
      &1 {
        width: 17.1%;
        left: 5.7%;
        bottom: 17.9%;
      }
      &2 {
        width: 29.1%;
        left: 7.6%;
        bottom: 15.6%;
      }
      &3 {
        width: 24.2%;
        // left: 29.4%;
        bottom: 14.1%;
      }
      &4 {
        width: 20%;
        left: 39.6%;
        bottom: 12.8%;
      }
      &5 {
        width: 18.1%;
        // left: 12.6%;
        bottom: 15.6%;
      }
      &6 {
        width: 20.3%;
        // left: 32.2%;
        bottom: 16.6%;
      }
      &7 {
        width: 18.9%;
        // left: 52.9%;
        bottom: 18.6%;
      }
    }

    &__icon {
      width: 26.8%;
      left: 4.9%;
      bottom: 2.9%;
    }
  }
}