.gift {
  position: relative;
  background-image: url("../images/gift_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
  @media (max-width: 1024px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .container {
    @media (max-width: 1024px) {
      max-width: 600px;
    }
  }

  &__deco {
    position: absolute;
    width: 100%;
    height: 100%;

    .ball {
      position: absolute;
      animation-name: pulse;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-timing-function: linear;
      animation-duration: 3s;

      &-1 {
        top: -10%;
        right: calc(50% + 500px);
        animation-delay: 0.5s;
      }

      &-2 {
        top: 0;
        left: calc(50% + 350px);
        animation-delay: 1s;
      }
      &-3 {
        top: 48%;
        right: calc(50% + 580px);
        animation-delay: 0.2s;
      }
      &-4 {
        left: calc(50% + 350px);
        top: 33%;
        animation-delay: 1.5s;
      }

      @media (max-width: 1024px) {
        &-1 {
          top: -12%;
          right: auto;
          left: -50%;
          animation-delay: 0.5s;
        }
  
        &-2 {
          top: 10%;
          left:auto;
          right: -20%;
          animation-delay: 1s;
        }
  
        &-3 {
          top: 38%;
          right: auto;
          left: -20%;
          animation-delay: 0.2s;
        }
        &-4 {
          width: 400px;
          left: auto;
          right: -20%;
          top: auto;
          bottom: -1%;
          animation-delay: 1.5s;
        }
      }
    }
  }

  &__title {
    img {
      display: inline-block;
    }
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  &-sharp-tv {
    box-shadow: 0 0 100px -20px #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    &__top {
      width: 100%;
    }

    &__bottom {
      display: flex;
      justify-content: center;
      @media (max-width: 1024px) {
        display: block;
      }
    }

    &__more {
      text-align: right;
      margin-bottom: 50px;

      a {
        display: inline-block;
      }

      @media (max-width: 1024px) {
        text-align: center;
        a {
          width: 150px;
        }
      }
    }
  }

  &__subTitle {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    @media (max-width: 1024px) {
        margin: 0 auto 20px;
        max-width: 600px;
      }
  }

  &-bonus {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    @media (max-width: 1024px) {
        display: block;
        max-width: 300px;
        margin: 0 auto 40px;
      }
  }

  &-note {
    display: flex;
    justify-content: center;
    position: relative;

    &__contact {
      flex-shrink: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    @media (max-width: 1366px) {
      flex-wrap: wrap;
      &__content {
        margin-bottom: 40px;
      }
      &__contact {
        position: relative;
      }
    }
    @media (max-width: 1024px) {
        &__contact {
            text-align: center;
                width: 150px;
        }
      }
  }
}
