.part__yt {
  position: relative;
  z-index: 1;
  padding-bottom: 39.8%;
  background-image: url('../imgs/video_road.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  @media (max-width: 768px) {
    padding-bottom: 76.8%;
    background-image: url('../imgs/video_roadM.png');
  }
}

.yt {
  &__iframe {
    position: absolute;
    top: 10.5%;
    left: 27%;
    z-index: 1;
    width: 43.5%;
    height: 62.5%;
    border: 2px solid #fcc914;
  }

  &__coin1 {
    position: absolute;
    top: 24.5%;
    left: 67.5%;
    width: 15.5%;
    animation: ani-coinJump  2.1s 0s infinite linear;
  }
  @media (max-width: 768px) {
    &__iframe {
      top: 22.5%;
      left: 8.7%;
      width: 75.5%;
      height: 55.5%;
    }

    &__coin2 {
      position: absolute;
      top: 58.5%;
      left: 70.5%;
      width: 21.5%;
      animation: ani-coinJump  3.3s 0s infinite linear;
    }
  }
}