@import './base/reset';
@import './base/font-face';
@import './HFF';
@import './section-kv';
@import './section-gift';
@import './section-video';
@import './section-car';

body {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Noto Sans TC', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

input,
label,
select,
button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  display: block;
}

#app {
  max-width: 1920px;
  overflow: hidden;

  &.timeNone {
    display: none;

  }

  @media (max-width: 768px) {
    min-width: 360px;
    overflow: auto;
  }
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .1;
}



.container {
  position: relative;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}

@keyframes pulse {
  from {
    transform: scale(.9);
  }

  to {
    transform: scale(1);
  }
}

.float-links {
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 29;
  width: 6%;
  min-width: 60px;

  .float-link {
    margin-bottom: 25px;
    box-shadow: 0 0 15px #fff;
    transform: translateX(10px);
    transition: transform .3s;

    &:hover {
      transform: translateX(0px);

    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

h1,
h2,
h3 {
  span {
    display: none;
  }
}

.button {
  transition: transform .5s;
  cursor: pointer;

  &:hover {
    transform: translateX(-10px);
  }
}

.padBlock {
  display: none !important;
}
.mobileBlock {
  display: none !important;
}

@media (max-width: 1024px) {
  .padBlock {
    display: block !important;
  }

  .padNone {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .mobileBlock {
    display: block !important;
  }

  .mobileNone {
    display: none !important;
  }
}
