.ReturnsAndRefunds {
  padding-bottom: 100px;
  font-size: 16px;

  &_pageTitle {
    margin-bottom: 10px;
    font-size: 24px;
  }

  &_block ~ &_block {
    margin-top: 40px;
  }

  &_subTitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #052d18;
  }

  &_text ~ &_text {
    margin-top: 20px;
  }

  &_text {
    ul {
      padding-left: 25px;
      line-height: 1.8;
      list-style-type: square;
    }

    &-highlight {
      color: #b27c4e;
    }
  }
}