.About {
  padding-bottom: 200px;

  .container {
    max-width: 1300px;
    padding: 0px 20px;
  }

  &_info {
    position: relative;
    justify-content: flex-start;
    margin: 180px 0;
    @include screen(1366) {
      margin: 0;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
    }

    &Text {
      width: 44%;
      padding-top: 70px;
      padding-right: 80px;

      .title {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-bottom: 40px;
      }

      h1 {
        font-size: 55px;
      }

      .establish {
        margin-left: 10px;
        padding-top: 30px;
        font-size: 28px;
      }

      .note {
        font-size: 28px;
      }

      .text {
        color: #523628;
      }

      @include screen(1366) {
        padding: 20px;

        .title {
          flex-direction: column;
          margin-bottom: 20px;
        }

        h1 {
          font-size: 40px;
        }

        .establish {
          margin-left: 0;
          padding-top: 0;
          font-size: 20px;
        }

        .note {
          font-size: 20px;
        }
      }
      @include screen(960) {
        width: 100%;
        padding: 20px 0px;
      }
    }

    &Img {
      position: absolute;
      top: 50%;
      right: 0;
      width: 56%;
      transform: translateY(-50%);

      img {
        width: 100%;
      }
      @include screen(1366) {
        position: static;
        transform: none;
      }
      @include screen(960) {
        width: 100%;
      }
    }
  }

  &_mission {
    padding: 150px 0;
    @include screen(1366) {
      padding: 100px 0;
    }
    @include screen(960) {
      padding: 60px 0;
    }

    .container {
      display: flex;
      @include screen(960) {
        flex-wrap: wrap;
        padding: 20px;
      }
    }

    h2 {
      flex-shrink: 0;
      width: 40%;
      padding-right: 20px;
      font-size: 55px;
      @include screen(1366) {
        width: auto;
        font-size: 40px;
      }
      @include screen(960) {
        width: 100%;
        padding: 0;
      }
    }

    p {
      color: #523628;
    }
    @include screen(960) {
      p {
        margin-top: 20px;
      }
    }
  }

  &_image {
    display: flex;
    gap: 50px;
    padding: 0 50px;
    @include screen(1366) {
      gap: 20px;
      padding: 0 20px;
    }
  }

  &_slogan {
    display: flex;
    justify-content: center;
    padding: 200px 20px;

    @include screen(1366) {
      padding: 150px 20px;
    }

    >div {
      width: 600px;
      max-width: 50%;
    }

    @include screen(960) {
      >div {
        max-width: 100%;
      }
    }
  }

  &_registerGift {
    background-image: url('/soho/img/about/about_banner.png');
    background-position: center;
    background-size: cover;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 200px 20px;
      @include screen(1366) {
        min-height: 500px;
        padding: 100px 20px;
      }
    }

    h2 {
      position: relative;
      display: inline;
      font-size: 45px;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: calc(100% + 30px);
        width: 200px;
        height: 4px;
        background-color: #0e2a1e;
      }
    }

    .note {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 28px;
      font-weight: 700;

      .highlight {
        font-size: 50px;
      }
    }

    .link {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      padding: 0px 90px;
      font-size: 20px;
      font-weight: 700;
      background-color: #d3875a;
      border-radius: 15px;
      transition: transform .3s;

      &:hover {
        transform: scale(1.05);
      }

      .highlight {
        font-size: 40px;
      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 50%;

        >span {
          display: block;
          width: 8px;
          height: 8px;
          margin-left: -5px;
          border-top: 2px solid #052d18;
          border-right: 2px solid #052d18;
          transform: rotate(45deg);
        }
      }
    }

    @include screen(1366) {
      background-position: 35% center;

      h2 {
        font-size: 50px;

        &::after {
          left: calc(100% + 20px);
          width: 140px;
          height: 3px;
        }
      }

      .note {
        flex-wrap: wrap;
        gap: 10px;
        font-size: 22px;

        .highlight {
          font-size: 36px;
        }

        .small {
          font-size: 22px;
        }
      }

      .link {
        gap: 15px;
        margin-top: 0;
        padding: 5px 30px 0;
        font-size: 24px;

        .highlight {
          font-size: 30px;
        }

        .arrow {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &_lineGift {
    font-size: 28px;
    font-weight: bold;
    color: #fff4e5;
    background-color: #9caca3;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    }

    h2 {
      font-size: 55px;
      color: #ffffff;
    }

    .highlight {
      font-size: 55px;
    }

    @include screen(1366) {
      font-size: 20px;

      .container {
        gap: 20px;
        padding: 10px 20px;
      }

      h2 {
        font-size: 40px;
      }

      .highlight {
        font-size: 40px;
      }
    }

    @include screen(960) {
      h2 {
        width: 100%;
        font-size: 28px;
        text-align: center;
      }

      .container {
        gap: 5px;
        font-size: 20px;
        line-height: 1.6em;
      }

      .highlight {
        font-size: 30px;
      }
    }
  }

  &_good {
    display: flex;
    color: #523628;

    &Item {
      flex-shrink: 0;
      width: 50%;
    }

    .note {
      padding: 50px 20px 50px 100px;
    }

    .title {
      font-size: 28px;
      font-weight: 700;
      color: #052d18;
    }

    .price {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .originPrice {
      text-decoration: line-through;
    }

    .benefit {
      margin-left: 40px;
      font-size: 30px;
      font-weight: 700;
    }

    @include screen(1366) {
      flex-wrap: wrap;

      .note {
        padding: 20px;
      }

      .benefit {
        margin-left: 20px;
        font-size: 24px;
      }
    }

    @include screen(960) {
      .title {
        font-size: 24px;
      }
    }
    @include screen(480) {
      &Item {
        width: 100%;
      }
    }
  }

  &_links {
    display: flex;
    gap: 10px;
    color: #ffffff;

    a {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 20px;
      font-size: 24px;
      font-weight: 700;
      background-color: #052d18;

      &:hover .arrow {
        left: 20px;
      }
    }

    .arrow {
      position: relative;
      top: -5px;
      left: 0;
      display: block;
      width: 50px;
      height: 12px;
      border-right: 2px solid #d3875a;
      border-bottom: 2px solid #d3875a;
      transition: left .3s;
      transform: skew(40deg);
    }

    @include screen(960) {
      flex-direction: column;
      gap: 20px;

      a {
        width: 100%;
        padding: 10px 20px;
      }
    }
  }
}