.Collect {
  overflow: hidden;
  font-size: 18px;
  background-color: #fff;
  background-image: url('/soho/img/collect/bg_contentHeader.png'), url('/soho/img/collect/bg_down.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: cover auto, cover auto;

  .container {
    padding-top: 50px;
    padding-bottom: 200px;
    @include screen(1360) {
      padding-bottom: 40px;
    }
  }

  &__wrap {
    width: 90%;
    margin: 0 auto;

    @include screen(xl) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;
    padding: 0 10px;
    font-size: 28px;
    font-weight: 700;
    color: #002c18;

    @include screen(1366) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  &_cart-header {
    font-weight: 700;
    color: #002c18;
    background-color: #fff;

    @include screen(960) {
      display: none !important;
    }
  }

  &_cart-row {
    display: flex;

    @include screen(960) {
      position: relative;
      flex-wrap: wrap;
    }
  }

  &_cart-body {
    color: #002c18;

    .Collect_cart-row {
      background-color: #fff;
      border-bottom: 1px solid #002c18;

      &:nth-child(odd) {
        background-color: #f6f6f6;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .product_pic {
      text-align: center;
    }

    .product_name {
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    .product_amount {
      width: 100%;
      font-weight: 700;
      @include custom-select(#cbd3ce, transparent, #002c18, #002c18);
    }

    .product_price {
      font-weight: 700;
    }

    .product_status {
      width: 100%;

      button {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 5px 10px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        background-color: #012d19;
        border-radius: 10px;

        &.secondary {
          color: #002c18;
          background-color: #9caca3;
        }

        @include screen(960) {
          margin-bottom: 10px;
          padding: 5px 10px;
          font-size: 16px;
        }
      }
    }

    .product_delete {
      button {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        width: 20px;
        height: 20px;
        background-image: url('/soho/img/icon_delete.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border: 65px solid transparent;
        border-color: transparent  transparent  transparent #bcc6c1;
        transform: translate(50%, -50%) rotate(-45deg);
        transform-origin: center;
      }
    }
  }

  &_cart-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

    &::before {
      position: absolute;
      top: 50%;
      left: 20px;
      font-size: .8em;
      font-weight: 500;
      transform: translateY(-50%);
    }

    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      flex: 1;
      width: 25%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:nth-child(4) {
      width: 15%;
    }

    &:nth-child(5) {
      width: 18%;
    }

    &:nth-child(6) {
      width: 8%;
    }

    @include screen (960) {
      padding: 5px 20px;

      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
        text-align: center;
      }

      &:nth-child(3) {
        width: 100%;
      }

      &:nth-child(4) {
        width: 100%;
      }

      &:nth-child(5) {
        width: 100%;
      }

      &.product_delete {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}