.part__feature {
  position: relative;
  padding-bottom: 82%;
  @media (max-width: 768px) {
    padding-bottom: 293%;
  }
}

.feature {
  &__tit {
    position: absolute;
    top: 0;
    left: 27%;
    width: 43%;
  }

  &__banner {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }

  &__s1 {
    position: absolute;
    top: 21.5%;
    left: 60.3%;
    z-index: 3;
    width: 23.5%;
  }

  &__s2 {
    position: absolute;
    top: 35.4%;
    left: 60%;
    z-index: 3;
    width: 23.5%;
  }

  &__s3 {
    position: absolute;
    top: 59.5%;
    left: 60.3%;
    z-index: 3;
    width: 23.5%;
  }

  &__s4 {
    position: absolute;
    top: 73.5%;
    left: 60%;
    z-index: 3;
    width: 23.5%;
  }

  &__coin1 {
    position: absolute;
    top: 4.3%;
    left: 72.5%;
    z-index: 4;
    width: 14.8%;
    animation: ani-coinJump  2.1s 0s infinite linear;
  }

  &__coin2 {
    position: absolute;
    top: 60.6%;
    left: 40%;
    z-index: 6;
    width: 17.5%;
    animation: ani-coinJump  3.3s -.7s infinite linear;
  }
  @media (max-width: 768px) {
    &__tit {
      top: 1.6%;
      left: 12.5%;
      width: 72.2%;
    }

    &__coin2 {
      top: 38.4%;
      left: 65.5%;
      width: 24.5%;
    }

    &__banner {
      top: 11.5%;
      bottom: initial;
      left: 0;
    }

    &__coin1 {
      top: 83.3%;
      left: 70.5%;
      width: 17.8%;
    }

    &__s1 {
      top: 56.9%;
      left: 19.4%;
      width: 60.2%;
    }

    &__s2 {
      top: 67.2%;
      left: 19.4%;
      width: 60.2%;
    }

    &__s3 {
      top: 77.2%;
      left: 19.4%;
      width: 60.2%;
    }

    &__s4 {
      top: 87.4%;
      left: 19.4%;
      width: 60.2%;
    }

    &__coin3 {
      position: absolute;
      top: 87.9%;
      left: 2.5%;
      width: 20.9%;
      animation: ani-coinJump  3.1s 0s infinite linear;
    }
  }
}