.part__kv {
  position: relative;
  padding-bottom: 61.6%;
  background-image: url('~@/assets/img/kv_bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  img {
    max-width: none;
  }

  @media (max-width: 768px) {
    padding-bottom: 85%;
    background-image: url('~@/assets/img/kv_bgM.jpg');
  }
}

.kv {
  &__logo {
    position: absolute;
    top: 14.8%;
    left: 15.3%;
    width: 22.5%;
  }

  &__titleWrap {
    position: absolute;
    top: 2%;
    left: 0%;
    width: 100%;

    .kv__title {
      width: 100%;
    }

    .kv__coinL {
      position: absolute;
      top: 38%;
      left: 2%;
      width: 12.5%;
      animation: ani-coinJump  2.1s 0s infinite linear;
    }

    .kv__coinR1 {
      position: absolute;
      top: 75%;
      left: 81.5%;
      width: 2.6%;
      animation: ani-coinJump  1.5s -1s infinite linear;
    }

    .kv__coinR2 {
      position: absolute;
      top: 75%;
      left: 85.2%;
      width: 2.6%;
      animation: ani-coinJump  1.5s -.5s infinite linear;
    }

    .kv__coinR3 {
      position: absolute;
      top: 75%;
      left: 89.5%;
      width: 2.6%;
      animation: ani-coinJump  1.5s 0s infinite linear;
    }
  }

  &__car1 {
    position: absolute;
    top: 63.3%;
    left: 0%;
    z-index: 5;
    width: 41.5%;
  }

  &__car2 {
    position: absolute;
    top: 63.2%;
    left: 22.3%;
    z-index: 2;
    width: 30.2%;
  }

  &__car3 {
    position: absolute;
    top: 60.5%;
    left: 46.8%;
    z-index: 2;
    width: 35.1%;
  }

  &__car4 {
    position: absolute;
    top: 64%;
    left: 63.4%;
    z-index: 6;
    width: 27.5%;
  }

  &__icon2 {
    position: absolute;
    top: 92%;
    left: 81.1%;
    width: 9.8%;
  }

  @media (max-width: 768px) {
    &__logo {
      top: 29.8%;
      left: 10.3%;
      width: 20.5%;
    }

    &__titleWrap {
      top: 20%;

      .kv__coinL {
        top: 32%;
        left: -4%;
        width: 11.5%;
      }

      .kv__coinR1 {
        top: 74%;
        left: 80.5%;
        width: 3%;
      }

      .kv__coinR2 {
        top: 74%;
        left: 85.2%;
        width: 3%;
      }

      .kv__coinR3 {
        top: 74%;
        left: 89.5%;
        width: 3%;
      }
    }

    &__car1 {
      top: 67.1%;
      left: -2.5%;
      width: 43.5%;
    }

    &__car2 {
      top: 67.2%;
      left: 20.3%;
      width: 32.2%;
    }

    &__car3 {
      top: 64.5%;
      left: 45.8%;
      width: 37.1%;
    }

    &__car4 {
      top: 67.3%;
      left: 64.4%;
      width: 27.5%;
    }

    &__icon2 {
      top: 90%;
      left: 74.3%;
      width: 14.9%;
    }
  }
}
