@forward './base/reset';
@use './base/font-face';
@use './base/grid';
@import './abstract/index';
@import './animation/custom';

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  overflow: auto;
  font-family: Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
}

input,
label,
select,
button {
  cursor: pointer;
}

a {
  display: inline-block;
}

button {
  border: none;
}

ul {
  padding: 0;
}

.futuraBTMedium {
  font-family: 'futura BT Medium', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
}

.futuraBT {
  font-family: 'futura BT', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
}

.futuraExtraBlack {
  font-family: 'futuraExtraBlack', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #951e23;

  &__link {
    display: block;
    align-items: center;
    margin-left: 10px;
    letter-spacing: 2px;
    white-space: nowrap;

    &:last-child {
      @include text-overflow($line: 1);
    }
  }

  &__home {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-left: 0;
  }
}

.footer__deco-brown {
  padding-top: 480px;
  background-image: url('/img/bg_brown.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: contain;

  @include screen(xxl) {
    padding-top: 256px;
  }

  @include screen(lg) {
    background-attachment: scroll;
  }
}

.slogan {
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 60px;
  color: #962233;
  text-align: right;
  letter-spacing: 6px;

  br {
    display: none;
  }

  @include screen(lg) {
    font-size: 28px;
  }

  @include screen(md) {
    br {
      display: inline-block;
    }
  }
}

.note {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  max-width: 60%;
  padding: 20px;
  font-size: 26px;
  color: #fff;
  background-color: #a78a70;
  box-shadow: 3px 3px 5px color(gray, 400);

  >span {
    @include text-overflow($line: 2);
  }

  @include screen(xxl) {
    font-size: 20px;
  }

  @include screen(lg) {
    max-width: 70%;
  }

  @include screen(md) {
    position: relative;
    top: -25px;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 16px;
  }
}