@forward './base/reset';
@forward './animation/v-transition';
@use './base/font-face';
@use './base/grid';
@import './abstract/index';

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  overflow: auto;
  font-family: Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
}

input,
label,
select,
button {
  cursor: pointer;
}

a {
  display: inline-block;
}

button {
  border: none;
}

ul {
  padding: 0;
}

.futuraBTMedium {
  font-family: 'futura BT Medium', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
}

.futuraBT {
  font-family: 'futura BT', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
}

.futuraExtraBlack {
  font-family: 'futuraExtraBlack', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #951e23;

  &__link {
    display: block;
    align-items: center;
    margin-left: 10px;
    letter-spacing: 2px;
    white-space: nowrap;

    &:last-child {
      @include text-overflow($line: 1);
    }
  }

  &__home {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-left: 0;
  }
}

.footer__deco-brown {
  padding-top: 320px;
  background-image: url('/img/bg_brown.jpg');
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: cover;
}

.slogan {
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 60px;
  color: #962233;
  text-align: right;
  letter-spacing: 6px;

  br {
    display: none;
  }

  @include screen(lg) {
    font-size: 28px;
  }

  @include screen(md) {
    br {
      display: inline-block;
    }
  }
}