@forward './base/reset';
@use './base/font-face';
@use './base/grid';
@import './abstract/index';
@import './animation/custom';

html {
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  overflow: auto;
  font-family: Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
}

input,
label,
select,
button {
  cursor: pointer;
}

a {
  display: inline-block;
}

button {
  border: none;
}

ul {
  padding: 0;
}

// 疊加的透明圖位置 for 切版方便
.helper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  // display: none;
  width: 100%;
  opacity: .3;
}

// .futuraBTMedium {
//   font-family: 'futura BT Medium', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
// }

// .futuraBT {
//   font-family: 'futura BT', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
// }

// .futuraExtraBlack {
//   font-family: 'futuraExtraBlack', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
// }
