.PageTemplate {
  // 背景圖暫時用
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('/soho/img/returnsAndRefunds/layout_returnsAndRefunds.jpg');
  }

  .container {
    max-width: 1300px;
    padding: 70px 40px 200px;
    padding-bottom: 200px;
    @include screen(1366) {
      padding: 20px 20px 40px;
    }
  }

  &_pageTitle {
    margin-bottom: 10px;
    font-size: 28px;
    @include screen(1366) {
      font-size: 24px;
    }
  }
}