.ShopList {
  &__content {
    position: relative;
    padding: 25px 0;
  }

  .breadcrumbs {
    margin-bottom: 120px;
  }

  &__shops {
    margin-bottom: 200px;
  }

  &__shopsArea {
    display: flex;
    margin-bottom: 40px;
  }

  &__shopsAreaBtn {
    flex: 1;
    padding: 10px 5px;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1.2px;
    background-color: #142638;
    transition: background-color .3s;

    &.active,
    &:hover {
      background-color: #951e23;
    }
  }

  &__shop {
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #142638;
    letter-spacing: 1.2px;

    &:nth-child(odd) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: #eaeaea;
        transform: translate(0, -50%);
      }
    }
  }

  &__shopInner {
    position: relative;
    height: 100%;
    padding-right: 5%;
    padding-bottom: 55px;
    padding-left: 5%;
  }

  &__shopName {
    margin-bottom: 20px;
    font-size: 26px;
  }

  &__shopPhone {
    margin-bottom: 5px;
    font-weight: 900;
  }

  &__shopAdd {
    margin-bottom: 20px;
  }

  &__shopPhone,
  &__shopAdd {
    font-size: 20px;

    .prefix {
      font-size: 14px;
      font-weight: 900;
    }
  }

  &__shopNote {
    flex: 1;
    margin-bottom: 40px;
    font-size: 16px;
    color: #951e23;
  }

  &__shopBtns {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .Button {
      width: 46%;
    }
  }

  @include screen(xxl) {
    &__shops {
      margin-bottom: 100px;
    }

    &__shopsAreaBtn {
      font-size: 20px;
    }

    &__shopName {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &__shopPhone,
    &__shopAdd {
      font-size: 16px;
    }

    &__shopNote {
      font-size: 14px;
    }
  }

  @include screen(md) {
    .breadcrumbs {
      margin-bottom: 20px;
    }

    &__shops {
      margin-bottom: 30px;
    }

    &__shopInner {
      padding-bottom: 0;
    }

    &__shopsArea {
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &__shopsAreaBtn {
      flex: initial;
      width: 33.33333%;
      font-size: 16px;
    }

    &__shop {
      margin-bottom: 0px;

      &:nth-child(odd) {
        &::after {
          display: none;
        }
      }
    }

    &__shopBtns {
      position: relative;
    }
  }

  @include screen(sm) {
    &__shopBtns {
      flex-wrap: wrap;

      .Button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

// xxl | xl | lg | md | sm
// @include screen (xl) {}
