.Store {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.6;
  color: #052d18;
  background-color: #ffffff;
  background-image: url('/soho/img/returnsAndRefunds/bg_contentHeader.png'), url('/soho/img/returnsAndRefunds/login_bgDown.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: cover auto, cover auto;
  @include screen(1360) {
    font-size: 16px;
  }

  .container {
    max-width: 1600px;
    padding: 50px 40px 200px;
    padding-bottom: 200px;
    @include screen(1360) {
      margin-top: -50px;
      padding: 20px 20px 40px;
    }
  }

  &_block {
    padding-bottom: 50px;

    &:last-child .Store_content {
      border-bottom: 0px;
    }

    @include screen(1024) {
      max-width: 600px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }

  &_imgs {
    display: grid;
    grid-template-areas: 'a b'
      'a c';
    grid-template-columns: 6fr 2fr;
    gap: 20px;

    >div {
      background-image: var(--bg);
      background-position: center;
      background-size: cover;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    >div:nth-child(1) {
      img {
        width: 100%;
      }
      grid-area: a;
    }

    >div:nth-child(2) {
      grid-area: b;
    }

    >div:nth-child(3) {
      grid-area: c;
      background-image: var(--bg);
    }

    @include screen(1024) {
      grid-template-areas: 'a a' 'b c';
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  &_content {
    display: grid;
    grid-template-areas: 'a b c f'
      'a d e f';
    grid-template-columns: 3fr 4fr 5fr 2fr;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 18px;
    border-bottom: 1px solid #052d18;

    > div {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: 'Noto Serif TC', serif, Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
    }
    @include screen(1024) {
      grid-template-areas: 'a f' 'b b' 'c c' 'd d' 'e e';
      grid-template-columns: 5fr 1fr;
      gap: 5px;
      padding: 10px;
    }
  }

  &_contentCompany {
    grid-area: a;
    justify-content: center;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
    border-right: 3px solid #8b9c97;

    @include screen(1024) {
      justify-content: flex-start;
      font-size: 30px;
      letter-spacing: 0px;
      border-right: 0px;
    }
  }

  &_contentPhone {
    grid-area: b;
  }

  &_contentMail {
    grid-area: c;
  }

  &_contentTime {
    grid-area: d;
  }

  &_contentLocation {
    grid-area: e;
  }

  &_contentLink {
    grid-area: f;
    justify-content: center;

    a {
      display: block;
      width: 100%;
      max-width: 60px;
      height: 15px;
      border-right: 2px solid #c49178;
      border-bottom: 2px solid #c49178;
      transform: skewX(40deg);
    }
  }
}