.ProductList {
  overflow: hidden;
  background-image: url('/img/productList/bg_contentHeader.png'), url('/img/cartProcess1/bg_content.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: cover auto, cover auto;

  .container {
    padding-bottom: 200px;
    @include screen(1360) {
      padding-bottom: 40px;
    }
  }

  &_content {
    display: flex;
    padding: 80px 0;
    color: #002c18;

    @include screen(xl) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }
  }

  &_content-menu {
    width: 22%;
    min-width: 300px;
    margin-right: 3%;
    padding: 8% 20px;
    font-weight: 700;
    letter-spacing: .1em;

    @include screen(xl) {
      width: 100%;
      margin-bottom: 20px;
      padding: 0;
    }

    &Title {
      margin-bottom: 40px;
      font-size: 28px;

      @include screen(xl) {
        margin-bottom: 10px;
        font-size: 22px;
      }
    }

    &Item {
      margin-bottom: 20px;
      font-size: 22px;
      cursor: pointer;

      @include screen(xl) {
        margin-bottom: 5px;
        font-size: 18px;
      }

      &.ProductList_content-menuItem-toggle {
        .ProductList_content-menuItemTitle span {
          position: relative;
          display: inline-block;
          padding-right: 25px;

          &::after {
            content: '+';
            position: absolute;
            top: -2px;
            right: 0;
            display: block;
            font-size: 1.5em;
            line-height: 1;
            color: currentColor;
          }
        }

        .ProductList_content-menuItemSub {
          display: none;
          padding: 20px;
          font-size: 20px;
          line-height: 2;
          color: rgba($color: #657e70, $alpha: .4);

          &Item:hover,
          > .active {
            color: #657e70;
          }

          @include screen(xl) {
            padding: 10px;
            font-size: 16px;
          }
        }
      }

      &.ProductList_content-menuItem-toggle.active {
        .ProductList_content-menuItemTitle {
          color: #ea9564;
        }

        .ProductList_content-menuItemTitle span::after {
          content: '-';
        }

        .ProductList_content-menuItemSub {
          display: block;
        }
      }
    }

    &ItemTitle {
      &:hover {
        color: #ea9564;
      }
    }
  }

  &_content-product {
    flex: 1;

    &-ad {
      max-width: 978px;
      margin-bottom: 20px;

      @include screen(xl) {
        margin: 0 auto 10px auto;
      }
    }

    &-filters {
      position: relative;
      margin-bottom: 10px;

      > div:first-child {
        display: flex;
        justify-content: flex-end;
        max-width: 978px;
      }

      @include screen(md) {
        > div:first-child {
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
    }

    &-filter-advanced {
      position: absolute;
      right: -20px;
      bottom: 0;
      display: none;
      align-items: center;

      @include screen(xl) {
        right: 0px;
      }

      @include screen(md) {
        position: relative;
        right: unset;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
      }
    }

    .ProductList_content-product-filters {
      &.active {
        padding-bottom: 50px;

        .ProductList_content-product-filter-advanced {
          display: flex;
        }
      }

      @include screen(md) {
        &.active {
          padding-bottom: 0;
        }
      }
    }

    &-filter-advanced.price {
      gap: 5px;

      .inputWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 20px;
        font-size: 12px;
        color: #a7afaa;
        border: 1px solid #a7afaa;
        border-radius: 4px;
        @include screen(xl) {
          padding: 2px 5px;
        }

        @include screen(md) {
          flex: 1;
        }
      }

      .symbol,
      input {
        margin-left: 5px;
        padding: 0;
        font-size: 18px;
        font-weight: 700;
        color: #002c18;
        background-color: transparent;
        border: none;

        @include screen(md) {
          font-size: 14px;
        }

        &:focus-visible {
          outline: none;
        }
      }

      input {
        width: 50px;
      }

      button {
        height: 100%;
        padding: 2px 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 2;
        background-color: #9caca3;
        border-radius: 4px;

        @include screen(md) {
          width: 100%;
          padding: 2px 10px;
          font-size: 12px;
          line-height: 1.8;
        }
      }
    }

    &-filter {
      position: relative;
      margin-left: 10px;
      font-size: 14px;
      border: 1px solid #002c18;
      border-radius: 40px;

      @include screen(md) {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0;
        text-align: center;
      }

      &.active,
      &:hover {
        color: rgba($color: #002c18, $alpha: .45);
        border: 1px solid rgba($color: #002c18, $alpha: .45);
      }

      select,
      button {
        appearance: none;
        width: auto;
        padding: 5px 20px;
        text-align: center;
        letter-spacing: .15em;
        background-color: transparent;
        border: none;
        border-radius: 40px;

        &:focus-visible {
          outline: none;
        }
      }

      select {
        padding: 5px 25px 5px 15px;
      }

      &.select::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10%;
        width: 6px;
        height: 6px;
        border-right: 2px solid #002c18;
        border-bottom: 2px solid #002c18;
        transform: translateY(-60%) rotate(45deg);
        transform-origin: center;
      }
    }
  }

  &_content-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 978px;
    margin-bottom: 80px;

    @include screen(xl) {
      margin: 0 auto 80px auto;
    }

    @include screen(md) {
      justify-content: space-between;
      margin-bottom: 0px;
    }
  }

  &_content-product-item {
    width: 32%;
    margin-bottom: 20px;
    cursor: default;
    border-radius: 40px;

    @include screen(md) {
      width: 50%;
      margin-bottom: 10px;
    }

    .productPic {
      position: relative;

      .hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity .3s;
      }
    }

    .productInfo {
      padding: 20px 10%;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;

      @include screen(md) {
        padding: 10px 10px 20px 10px;
      }
    }

    .productName {
      position: relative;
      padding-top: 40px;
      font-size: 21px;
      font-weight: 700;
      color: #523628;
      text-align: center;
      letter-spacing: .2em;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 30px;
        background-image: url('/img/productList/productList_itemIcon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateX(-50%);
      }

      @include screen(md) {
        padding-top: 30px;
        font-size: 18px;

        &::before {
          width: 20px;
        }
      }
    }

    .productIntro {
      position: relative;
      margin-bottom: 20px;
      font-size: 12px;
      color: #523628;
      letter-spacing: .1em;

      @include text-overflow(2);

      @include screen(md) {
        margin-bottom: 10px;
      }
    }

    .deco {
      @include deco-styles;
    }

    .productControl {
      display: none;
    }

    &:hover,
    &.active {
      .productPic {
        .hover {
          opacity: 1;
        }
      }

      .productInfo {
        background-color: rgba($color: #657e70, $alpha: .4);
      }

      .productName::before {
        background-image: url('/img/productList/productList_itemIcon-h.png');
      }

      .deco {
        display: none;
      }

      .productControl {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        > button,
        >a {
          position: relative;
          z-index: 1;
          flex: 1;
          min-width: 96px;
          font-size: 14px;
          font-weight: 700;
          line-height: 1.8;
          color: #002c18;
          text-align: center;
          border: 1px solid #002c18;
          border-radius: 4px;

          &:hover {
            background-color: #9caca3;
            border: 1px solid #9caca3;
          }
        }
      }
    }
  }

  &_content-product-pageControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 978px;
    font-weight: 700;
    @include screen(xl) {
      margin: 0  auto;
    }

    @include screen(md) {
      justify-content: center;
    }

    &-pages {
      font-size: 22px;

      >button {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &.active,
        &:hover {
          background-color: #a9b7b7;
        }
      }

      @include screen(md) {
        font-size: 16px;

        >button {
          width: 30px;
          height: 30px;
        }
      }
    }

    >button {
      width: 100px;
      font-size: 12px;
      border: 1px solid #002c18;

      @include screen(md) {
        display: none;
      }
    }
  }
}