.StoreContent {
  .container {
    max-width: 1600px;
    padding: 50px 40px 200px;
    padding-bottom: 200px;
    @include screen(1360) {
      padding: 20px 20px 40px;
    }
  }

  &_block {
    padding-bottom: 50px;

    @include screen(1024) {
      max-width: 600px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }

  &_imgs {
    display: grid;
    grid-template-areas: 'a b'
      'a c';
    grid-template-columns: 6fr 2fr;
    gap: 20px;

    >div {
      background-image: var(--bg);
      background-position: center;
      background-size: cover;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    >div:nth-child(1) {
      img {
        width: 100%;
      }
      grid-area: a;
    }

    >div:nth-child(2) {
      grid-area: b;
    }

    >div:nth-child(3) {
      grid-area: c;
      background-image: var(--bg);
    }

    @include screen(1024) {
      grid-template-areas: 'a a' 'b c';
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  &_payWay {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    li {
      min-width: 120px;
      padding: 10px 10px;
      font-size: 18px;
      line-height: 18px;
      background-color: #d38659;
      border-radius: 10px;
    }

    @include screen(1024) {
      margin-top: 20px;

      li {
        font-size: 16px;
      }
    }
  }

  &_content {
    display: grid;
    grid-template-areas: 'a b c f'
      'a d e f';
    grid-template-columns: 3fr 4fr 5fr 2fr;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 18px;

    > div {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: 'Noto Serif TC', serif, Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
    }
    @include screen(1024) {
      grid-template-areas: 'a f' 'b b' 'c c' 'd d' 'e e';
      grid-template-columns: 5fr 1fr;
      gap: 5px;
      padding: 10px;
    }
  }

  &_contentCompany {
    grid-area: a;
    justify-content: center;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
    border-right: 3px solid #8b9c97;

    @include screen(1024) {
      justify-content: flex-start;
      font-size: 30px;
      letter-spacing: 0px;
      border-right: 0px;
    }
  }

  &_contentPhone {
    grid-area: b;
  }

  &_contentMail {
    grid-area: c;
  }

  &_contentTime {
    grid-area: d;
  }

  &_contentLocation {
    grid-area: e;
  }

  &_mainLinks {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;

    a {
      display: flex;
      flex-grow: 1;
      gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      background-color: #052d18;
      transition: all .3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .StoreContent_mainLinkArrow {
      display: block;
      width: 50px;
      height: 15px;
      margin-top: -10px;
      border-right: 2px solid #d38659;
      border-bottom: 2px solid #d38659;
      transform: skewX(30deg);
    }

    @include screen(1024) {
      gap: 10px;
      margin-top: 20px;
    }
  }

  &_note {
    max-width: 1100px;
    margin: 0 auto 100px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;

    h3 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    @include screen(1024) {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 18px;

      h3 {
        margin-bottom: 10px;
        font-size: 24px;
      }
    }
  }

  &_map {
    iframe {
      width: 100%;
      height: 550px;
    }

    @include screen(1024) {
      iframe {
        height: 300px;
      }
    }
  }

  &_backHandler {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    font-weight: 700;

    .link {
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 5px 40px;
      background-color: #9caca2;
      border-radius: 5px;
      transition: transform .3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .arrow {
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid #052d18;
      border-left: 1px solid #052d18;
      transform: rotate(-45deg);
    }
  }
}