.Member {
  .container {
    max-width: 1300px;
    padding-bottom: 200px;
    @include screen(1360) {
      padding-bottom: 150px;
    }
  }

  &__wrap {
    margin: 0 auto;
    padding-top: 60px;

    @include screen(xl) {
      width: 100%;
      padding-top: 40px;
    }
  }

  &_avatar {
    display: flex;
    align-items: center;
    width: 445px;
    margin: 0 auto 40px auto;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    letter-spacing: .1em;
    background-image: url('/soho/img/member/member_peopleBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

    &-pic {
      position: relative;
      margin-right: 20px;

      button {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &-type {
      font-size: 18px;
      font-weight: 500;
      color: #a4c2b4;
    }

    @include screen(960) {
      width: 100%;
    }
  }

  &_title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #002c18;
    letter-spacing: .2em;

    @include screen(960) {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
}

.Member_info,
.Member_footer {
  button {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .1em;
    border: 1px solid #9caca3;
    border-radius: 10px;

    &.active {
      background-color: #8ca097;
      border: 1px solid #8ca097;
    }

    @include screen(960) {
      padding: 5px 10px;
      font-size: 20px;
    }
  }
}

.Member_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  &-data,
  &-password {
    width: 48%;
  }

  @include screen(960) {
    flex-wrap: wrap;

    &-data,
    &-password {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  @include screen(960) {
    margin-bottom: 20px;
  }

  .radio_wrap {
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: .1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    >input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;
    }

    .checkmark {
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      background-color: transparent;
      border: 1px solid #9caca3;
      border-radius: 8px;

      @include screen(960) {
        padding: 5px 20px;
      }
    }

    input:checked ~ .checkmark {
      background-color: #8ca097;
      border: 1px solid #8ca097;
    }
  }

  &-form-item {
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: .1em;

    &.required {
      label::after {
        content: '*';
        margin-left: 10px;
        padding-top: 5px;
        color: #c22d19;
      }
    }

    &-radio {
      display: flex;
      justify-content: flex-start;

      label {
        width: 120px;
        margin-right: 20px;
      }
    }

    label[for='agree-read'] {
      margin-bottom: 40px;
      font-size: 14pt;
    }

    @include screen(960) {
      margin-bottom: 10px;
      font-size: 16px;

      label[for='agree-read'] {
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
  }

  label {
    display: flex;
    margin-bottom: 5px;
    font-weight: 700;
  }

  input[type='text'],
  input[type='date'],
  input[type='password'],
  textarea {
    width: 100%;
    padding: 10px 20px;
    color: #000;
    letter-spacing: .1em;
    background-color: transparent;
    border: 1px solid #b7b7b7;
    border-radius: 10px;

    &::placeholder {
      color: #b7b7b7;
    }
  }

  textarea {
    min-height: 180px;
  }

  .address-select-wrap {
    display: flex;
    margin-bottom: 20px;

    @include custom-select(transparent, #b7b7b7, #000, #b7b7b7);

    .customSelect {
      display: block;
      width: 33.333%;
      margin-right: 20px;
      text-align: left;

      select {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border-radius: 10px;
      }
    }

    input {
      width: 33.333%;
    }
  }
}

.Member_line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  background-color: rgba($color: #b7b7b7, $alpha: .3);
  border-radius: 10px;

  button {
    flex-shrink: 0;
    color: #fff;
    background-color: #002d18;
  }

  @include screen(1366) {
    flex-wrap: wrap;
    padding: 20px;

    &-pic {
      margin-bottom: 20px;
    }

    button {
      width: 100%;
    }
  }
}

.Member_footer {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    min-width: 10em;
    font-size: 22px;
  }

  @include screen(960) {
    button {
      width: 100%;
      font-size: 18px;
    }
  }
}
