.Contact {
  padding-bottom: 200px;
  overflow: inherit;
  @include screen(1024) {
    padding-bottom: 100px;
  }

  .container {
    max-width: 1300px;
    padding: 100px 40px 50px;
    @include screen(1024) {
      padding: 20px 20px 40px;
    }
  }

  &_info {
    .container {
      position: relative;
      display: flex;
    }

    .Contact_title {
      position: sticky;
      top: 120px;
      flex-shrink: 0;
      align-self: flex-start;
      width: 550px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 500;

      span {
        display: block;
        font-size: 20px;
        color: #d3865a;
      }
    }

    .Contact_note {
      font-size: 20px;
      border-bottom: 1px solid #083620;
    }

    .Contact_content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 60px 30px 30px 40px;
    }

    .Contact_contentCompany {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .Contact_contentTitle {
      font-size: 24px;
    }

    .Contact_communityLinks {
      display: flex;
      gap: 10px;
    }

    .Contact_contentPhone,
    .Contact_contentMail,
    .Contact_contentTime,
    .Contact_contentLocation {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 20px;
      }
    }

    .Contact_map {
      width: 100%;
      height: 300px;
      margin-top: 20px;
    }
    @include screen(1024) {
      .container {
        flex-direction: column;
      }

      .Contact_title {
        position: static;
        width: auto;
        padding: 0 0px;
        font-size: 24px;
      }

      .Contact_note {
        padding: 20px 0px;
        font-size: 18px;
      }

      .Contact_content {
        gap: 10px;
        padding: 20px 0px;
      }

      .Contact_communityLinks a {
        width: 35px;
      }
    }
  }

  &_form {
    background-image: url('/soho/img/contact/contact_messageBg.jpg');

    .container {
      position: relative;
      display: flex;
    }

    .Contact_title {
      position: sticky;
      top: 120px;
      flex-shrink: 0;
      align-self: flex-start;
      width: 550px;
      padding: 0 20px;
      font-size: 30px;
      font-weight: 500;
      color: #d3865a;
    }

    .Contact_formContent {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 20px;
      padding: 20px 30px 20px 40px;
    }

    label {
      display: block;
      width: 100%;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 8px 20px;
      border: 0px;
    }

    .Contact_formQuestion {
      margin-bottom: 5px;
      padding-left: 10px;
      opacity: 80%;
    }

    .Contact_formVerify {
      display: flex;
      gap: 10px;
    }

    .Contact_formVerifyCode {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: #ffffff;
      background-color: #000;
    }

    .Contact_sendBtn {
      display: inline-block;
      align-self: flex-end;
      margin-top: 20px;
      padding: 5px 40px;
      background-color: #9caca2;
      border-radius: 5px;
    }

    @include screen(1024) {
      .container {
        flex-direction: column;
      }

      .Contact_title {
        position: static;
        width: auto;
        padding: 20px 0px;
        font-size: 24px;
      }

      .Contact_formContent {
        gap: 10px;
        padding: 20px 0px;
      }
    }
  }

  &_links {
    display: flex;

    .Contact_item {
      width: 50%;
      padding: 150px 20px 150px 100px;
      background-position: center;
      background-size: cover;

      &:nth-child(1) {
        background-image: url('/soho/img/contact/contact_item1Bg.jpg');
      }

      &:nth-child(2) {
        background-image: url('/soho/img/contact/contact_item2Bg.jpg');
      }
    }

    .Contact_linkTitle {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;

      span {
        display: block;
        margin-top: 10px;
        font-size: 20px;
      }
    }

    .Contact_linkA {
      margin-top: 20px;
      padding: 5px 50px;
      background-color: #9caca2;
      border-radius: 5px;
    }
    @include screen(1024) {
      flex-direction: column;

      .Contact_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        min-height: 300px;
        padding: 40px;
      }
    }
  }
}