.ProjectFooter {
  padding-top: 40px;
  color: #fff;
  background-color: #002d18;

  &_content {
  }

  &_logoWrap {
    margin-bottom: 40px;

    .ProjectFooter_pic {
      width: 120px;
    }

    @include screen(960) {
      margin-bottom: 20px;

      .ProjectFooter_pic {
        width: 90px;
      }
    }
  }

  &_linkPart {
    display: flex;
    flex-wrap: wrap;
  }

  &_linkCategory {
    flex-shrink: 0;
    margin-right: 58px;
    margin-bottom: 20px;
    @include screen(960) {
      margin-right: 38px;
    }
  }

  &_linkTitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #9fa49f;
  }

  &_linkList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .2rem;

    a {
      display: flex;
    }

    &-text {
      display: flex;
      align-items: center;
      letter-spacing: .1rem;

      img {
        margin-right: 5px;
      }
    }
  }

  &_socialMedia {
    a {
      margin-right: 10px;
    }
  }

  &_note {
    margin-top: 40px;
    padding: 15px 0;
    font-size: 16px;
    border-top: 2px solid #fff;
    @include screen(960) {
      font-size: 14px;
    }
  }
}