.Index {
  .kv {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 8%;
      height: 145px;
      background-image: url('/img/index_kvIcon.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: translate(-50%, 50%);
    }

    @include screen(md) {
      &::after {
        display: none;
      }
    }
  }

  .productIntro {
    position: relative;
    // background-image: url('');

    .container {
      padding-top: 140px;
      padding-bottom: 70px;
    }
  }

  .ad {
    position: relative;
    padding: 40px 0 40px 13%;
    background-image: url('/img/index_ad_bg.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    @include screen(lg) {
      padding: 40px 0 40px 0%;
    }
  }

  .productGift {
    position: relative;
    padding: 60px 0 60px 0;
  }

  .productFeature {
    position: relative;
    padding: 0px 0 240px 0;
    background-image: url('/img/index_feature_bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @include screen(lg) {
      padding: 40px 0 40px 0;
    }

    &_promote {
      display: flex;
      gap: 20px;
      margin-bottom: 40px;
      color: #fff;
      transform: translateY(-25%);

      &Item {
        width: 50%;
        font-size: 40px;
        line-height: 2.75;
        text-align: center;
        letter-spacing: .2rem;
        background-image: url('/img/index_feature_iconBg.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
      }

      @include screen(lg) {
        flex-wrap: wrap;
        margin-bottom: 20px;
        transform: translateY(0);

        &Item {
          width: 100%;
          font-size: 24px;
        }
      }

      @include screen(md) {
        &Item {
          font-size: 20px;
        }
      }
    }

    &_gallery {
      &-col {
        display: flex;
        margin-bottom: 40px;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }

        &-3 {
          gap: 40px;
        }
      }

      &Item {
        flex: 1;

        img {
          width: 100%;
        }
      }

      @include screen(lg) {
        &-col {
          margin-bottom: 20px;
        }

        &-col-3 {
          gap: 20px;
        }
      }

      @include screen(md) {
        &-col-3 {
          gap: 0px;
        }
      }
    }
  }

  .productBg {
    background-image: url('/img/index_product3_bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .productRecommend {
    position: relative;

    &_item {
      position: relative;
      display: flex;
      width: 72%;
      margin: 0 auto;
      transform: translateY(-8%);

      &-pic {
        flex-shrink: 0;
      }

      &-info {
        display: flex;
        align-items: center;
        line-height: 1.5;
        color: #523628;
        letter-spacing: .15rem;

        &Wrap {
          padding: 0 15px;
        }

        &Title {
          font-size: 36px;
          font-weight: bold;
        }

        &Text {
          margin-bottom: 40px;
          font-size: 20px;
        }

        &Arrow {

          @include custom-arrow();

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: -10px;
            z-index: -1;
            width: 32px;
            height: 32px;
            background-color: #000;
            border-radius: 50%;
            transform: translate(10%, -20%);
          }
        }
      }

      @include screen(1360) {
        width: 100%;
      }

      @include screen(lg) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
        transform: translateY(0);

        &-pic {
          flex-shrink: 1;
        }

        &-info {
          &Title {
            font-size: 28px;
          }

          &Text {
            margin-bottom: 20px;
            font-size: 16px;
          }
        }
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .productAll {
    // .helper {
    //   top: -430px;
    // }
    position: relative;
    padding: 100px 0;

    @include screen(lg) {
      padding: 20px 0;
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      margin: 0 auto;

      @include screen(1360) {
        width: 100%;
      }
    }

    &_item {
      flex-shrink: 0;
      width: 20%;
      cursor: pointer;
      @include screen(1360) {
        width: 33.333333%;
      }
      @include screen(lg) {
        width: 50%;
      }
    }

    &_itemWrap {
      position: relative;
      max-width: 230px;
      margin: 0 auto;

      >a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      @include screen(lg) {
        max-width: auto;
      }
    }

    &_itemTop {
      position: relative;
      margin-bottom: 40px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        width: 360px;
        // height: 340px;
        padding-top: 106%;
        background-image: url('/img/temp_product-hover-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        transition: opacity .3s;
        transform: translate(-50%, -50%);
      }

      @include screen(lg) {
        margin-bottom: 20px;
      }

      &-pic {
        position: relative;
        z-index: 1;
      }

      &-arrow {
        @include custom-arrow(#fff, 30px, 10px);
        position: absolute;
        right: 10px;
        bottom: -40px;
        z-index: 1;
        opacity: 0;
        transition: opacity .3s;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50px;
          height: 50px;
          background-color: #e08859;
          border-radius: 50%;
          transform: translate(-42%, -50%);
        }

        @include screen(lg) {
          @include custom-arrow(#fff, 20px, 6px);
          position: absolute;
          right: 10px;
          bottom: 0px;
          z-index: 1;
          opacity: 0;
          transition: opacity .3s;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 30px;
            background-color: #e08859;
            border-radius: 50%;
            transform: translate(-42%, -50%);
          }
        }
      }
    }

    &_itemBottom {
      padding: 20px 10px 10px 10px;
      color: #523628;
      text-align: center;

      &-textWrapTitle {
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: bold;
      }

      &-textWrapText {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 1.1;
      }

      &-textWrapPrice {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
          position: relative;
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: .1rem;

          &:first-child::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110%;
            height: 1px;
            background-color: #523628;
            transform: translate(-50%, -50%);
          }
        }

        span {
          margin-left: 5px;
          font-size: 20px;
        }
      }

      @include screen(lg) {
        padding: 0 10px;

        &-textWrapTitle {
          font-size: 24px;
        }

        &-textWrapText {
          font-size: 14px;
        }

        &-textWrapPrice p {
          justify-content: center;
          width: 100%;
          font-size: 12px;

          &:first-child::after {
            width: 50%;
          }
        }

        &-textWrapPrice span {
          font-size: 16px;
        }
      }
    }

    &_itemBtns {
      text-align: center;
      opacity: 0;
      transition: opacity .3s;

      button {
        margin: 0 10px;
      }
    }

    &_item:hover {
      .productAll_itemBtns,
      .productAll_itemTop::after,
      .productAll_itemTop-arrow {
        opacity: 1;
      }

      @include screen(lg) {
        .productAll_itemTop::after {
          opacity: 0;
        }
      }
    }
  }
}
// xxl | xl | lg | md | sm
// @include screen (xl) {}