.CartProcess2 {
  padding-bottom: 100px;

  &_title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .2em;
  }

  &_total {
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #002c18;
    border-bottom: 1px solid #002c18;

    @include screen(960) {
      margin-bottom: 20px;
      padding: 20px 0;
    }
  }

  &_total-charge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #002c18;
    letter-spacing: .1em;

    &-data {
      margin-left: 10px;
      font-size: 28px;
      color: #db895b;
    }
  }

  &_total-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #898989;
    letter-spacing: .2em;

    .num {
      margin: 0 20px;
      font-size: 28px;
    }

    .CartProcess2_toggle-cartBtn {
      display: block;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      padding: 0;
      transform-origin: center;

      &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-top: 2px solid #898989;
        border-right: 2px solid #898989;
        transform: rotate(-45deg) translateY(50%);
        transform-origin: center;
      }

      &.active {
        transform: rotate(180deg);
      }
    }

    @include screen(960) {
      font-size: 20px;

      .num {
        margin: 0 10px;
        font-size: 24px;
      }

      .CartProcess2_toggle-cartBtn {
        &::after {
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  &_cart {
    display: none;
    margin-bottom: 40px;

    &.active {
      display: block;
    }

    @include screen(960) {
      margin-bottom: 20px;
    }
  }

  &_cart-header {
    font-size: 16px;
    font-weight: 700;
    text-align: center;

    @include screen(960) {
      display: none !important;
    }
  }

  &_cart-row {
    display: flex;

    @include screen(960) {
      flex-wrap: wrap;
    }
  }

  &_cart-body {
    color: #523628;
    letter-spacing: .08em;

    .CartProcess2_cart-row {
      background-color: #fff;
      border-bottom: 1px solid #002c18;

      &:nth-child(odd) {
        background-color: #f6f6f6;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .product_name {
      width: 100%;
      font-size: 20px;
      font-weight: 700;
    }

    .product_content {
      width: 100%;
    }

    .product_discount {
      font-size: 18px;
      font-weight: 700;

      @include screen(1366) {
        font-size: 16px;
      }
    }

    .product_price,
    .product_amount,
    .product_total-price {
      font-weight: 700;
    }
  }

  &_cart-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

    &::before {
      position: absolute;
      top: 50%;
      left: 20px;
      font-size: 16px;
      font-weight: 500;
      transform: translateY(-50%);
    }

    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      flex: 1;
      width: 15%;
    }

    &:nth-child(4) {
      width: 15%;
    }

    &:nth-child(5) {
      width: 10%;
    }

    &:nth-child(6) {
      width: 15%;
    }

    @include screen (960) {
      padding: 5px 20px;

      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
        text-align: center;
      }

      &:nth-child(3) {
        flex: 1;
        width: 100%;
      }

      &:nth-child(4) {
        align-items: flex-end;
        width: 100%;

        &::before {
          content: '單件價格';
        }
      }

      &:nth-child(5) {
        align-items: flex-end;
        width: 100%;

        &::before {
          content: '數量';
        }
      }

      &:nth-child(6) {
        align-items: flex-end;
        width: 100%;

        &::before {
          content: '小計';
        }
      }
    }
  }

  &_discount {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #002c18;

    &-title {
      padding: 10px 30px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      letter-spacing: .15em;
      background-color: #002c18;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-itemTitle {
      &-sub {
        color: #898989;
      }

      &-unused {
        > div:first-child {
          text-decoration: line-through;
        }
      }
    }

    @include screen(1366) {
      width: 100%;
    }

    @include screen (960) {
      &-list {
        gap: 10px;
        padding: 20px;
      }
    }

    @include screen(480) {
      padding-bottom: 10px;

      &-title {
        padding: 10px;
      }

      &-list {
        padding: 10px;
      }

      &-item {
        flex-wrap: wrap;
        margin-bottom: 5px;
      }

      &-itemTitle {
        width: 100%;
        margin-bottom: 5px;
      }

      &-itemContent {
        width: 100%;
        text-align: right;
      }
    }
  }

  &_final {
    width: 40%;
    min-width: 500px;
    margin-bottom: 40px;
    margin-left: auto;
    font-weight: 500;
    line-height: 2;

    &-price {
      padding: 20px;
      border-bottom: 1px solid #002c18;
    }

    &-price-row {
      display: flex;
      justify-content: space-between;
    }

    &-coupon {
      padding: 20px;
    }

    @include screen(960) {
      width: 100%;
      min-width: auto;
      margin-bottom: 10px;
    }
  }

  &_divide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 30px;
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;

    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-top: 2px solid #898989;
      border-right: 2px solid #898989;
      transform: rotate(-45deg) translateY(50%);
      transform-origin: center;
    }

    @include screen(960) {
      margin-bottom: 20px;
      padding: 10px 0;

      &::after {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.CartProcess2_client,
.CartProcess2_footer {
  button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .1em;
    border: 1px solid #9caca3;
    border-radius: 10px;

    &.active {
      background-color: #8ca097;
      border: 1px solid #8ca097;
    }

    @include screen(960) {
      padding: 5px 10px;
    }
  }
}

.CartProcess2_client {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &-delivery,
  &-payment {
    width: 48%;
  }

  @include screen(1366) {
    flex-wrap: wrap;

    &-delivery,
    &-payment {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  @include screen(960) {
    margin-bottom: 20px;
  }

  .checkbox_wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 35px;
    color: #5a5a5a;
    letter-spacing: .1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    >input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;
    }

    .checkmark {
      position: absolute;
      top: 2px;
      left: 0;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: 1px solid #5a5a5a;
      border-radius: 8px;

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 9px;
        display: none;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    @include screen(960) {
      padding-left: 25px;
      font-size: 16px;

      .checkmark {
        width: 16px;
        height: 16px;
        border-radius: 4px;

        &::after {
          top: 2px;
          left: 4px;
          width: 5px;
          height: 10px;
          border-width: 0 2px 2px 0;
        }
      }
    }

    input:checked ~ .checkmark {
      background-color: #002c18;
    }

    input:checked ~ .checkmark::after {
      display: block;
    }
  }

  .radio_wrap {
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: .1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    >input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;
    }

    .checkmark {
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      background-color: transparent;
      border: 1px solid #9caca3;
      border-radius: 8px;

      @include screen(960) {
        padding: 5px 20px;
      }
    }

    input:checked ~ .checkmark {
      background-color: #8ca097;
      border: 1px solid #8ca097;
    }
  }

  &-form-item {
    margin-bottom: 20px;
    font-size: 16px;

    &.required {
      label::after {
        content: '*';
        margin-left: 10px;
        padding-top: 5px;
        color: #c22d19;
      }
    }

    &-radio {
      display: flex;
      justify-content: space-between;

      label {
        width: 49%;
      }
    }

    label[for='agree-read'] {
      margin-bottom: 40px;
      font-size: 16px;
    }

    @include screen(960) {
      margin-bottom: 10px;
      font-size: 16px;

      label[for='agree-read'] {
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
  }

  label {
    display: flex;
    margin-bottom: 5px;
    font-weight: 700;
  }

  input[type='text'],
  textarea {
    width: 100%;
    padding: 10px 20px;
    color: #b7b7b7;
    letter-spacing: .1em;
    background-color: #f6f6f6;
    border: none;
    border-radius: 10px;

    &::placeholder {
      color: #b7b7b7;
    }
  }

  textarea {
    min-height: 180px;
  }

  &-paymentOptions {
    margin-bottom: 40px;
  }

  &-paymentOption {
    width: 100%;
    margin-bottom: 20px;
    color: rgba($color: #010101, $alpha: .55);

    &.active {
      color: #232323;
    }
  }

  &-paymentData {
    margin-bottom: 40px;
  }

  &-agreement {
    padding: 40px 0;
    border-top: 1px solid #002c18;
    border-bottom: 1px solid #002c18;

    label {
      margin-bottom: 0;
    }

    a {
      color: #9caca3;
    }

    .CartProcess2_client-form-item {
      margin-bottom: 0;

      > span {
        display: block;
        margin-left: 38px;
        font-size: 12pt;
      }
    }
  }

  @include screen(960) {
    &-paymentOptions {
      margin-bottom: 30px;
    }

    &-paymentOption {
      margin-bottom: 10px;
    }

    &-creditCard {
      margin-bottom: 20px;
    }

    &-agreement {
      padding: 20px 0;

      .CartProcess2_client-form-item {
        > span {
          margin-left: 24px;
          font-size: 12px;
        }
      }
    }
  }

  .address ~ .address {
    margin-top: 10px;
  }

  .customSelect select {
    width: 100%;
    padding: 10px 20px;
    background-color: #f6f6f6;
    border: 0px;
    border-color: transparent;
    border-radius: 10px;
  }
}

.CartProcess2_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a,
  button {
    font-weight: 700;
    letter-spacing: .1em;
  }

  button {
    min-width: 10em;
    text-align: center;
  }

  a {
    display: flex;
    align-items: center;

    .deco {
      position: relative;
      width: 40px;
      height: 12px;
      margin-right: 10px;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #002c18;
        border-left: 2px solid #002c18;
        transform: skew(-45deg);
      }
    }
  }

  @include screen(960) {
    button {
      min-width: 8em;
      font-size: 18px;
      text-align: center;
    }

    a {
      font-size: 16px;

      .deco {
        margin-right: -5px;
        transform: scale(.5);
      }
    }
  }
}
