.PaymentInstructions {
  font-size: 16px;

  .container {
    padding-bottom: 100px;
  }

  &_pageTitle {
    margin-bottom: 10px;
    font-size: 24px;
  }

  &_block ~ &_block {
    margin-top: 40px;
    @include screen(1366) {
      margin-top: 50px;
    }
  }

  &_subTitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #052d18;
  }

  &_text ~ &_text {
    margin-top: 20px;
  }
}