.PaymentInstructions {
  .container {
    max-width: 1480px;
    padding: 70px 40px 200px;
    padding-bottom: 200px;
    @include screen(1360) {
      padding: 20px 20px 40px;
    }
  }

  &_pageTitle {
    margin-bottom: 10px;
    font-size: 30px;
    @include screen(1360) {
      font-size: 24px;
    }
  }

  &_block ~ &_block {
    margin-top: 90px;
    @include screen(1360) {
      margin-top: 50px;
    }
  }

  &_subTitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #052d18;
    @include screen(1360) {
      font-size: 20px;
    }
  }

  &_text ~ &_text {
    margin-top: 20px;
    @include screen(1360) {
      margin-top: 20px;
    }
  }
}