.CartProcess1 {
  padding-top: 50px;
  padding-bottom: 100px;

  &_btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    color: #002c18;
    text-align: center;
    letter-spacing: .2em;
    background-color: #8ca097;
    border-radius: 5px;

    &-small {
      padding: 0 20px;
      font-size: 14px;
    }
  }

  &_title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #002c18;
    letter-spacing: .2em;
    @include screen(1366) {
      margin-bottom: 10px;
      padding: 0px;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #8ca097;

    @include screen(1280) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include screen(960) {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  &_orderList {
    width: 48%;

    @include screen(1280) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &_orderItem {
    position: relative;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #002c18;

    &:nth-child(odd) {
      background-color: #f6f6f6;
    }

    &:last-child {
      border-bottom: none;
    }

    &-pic {
      display: flex;
      align-items: center;
      justify-content: center;

      >img {
        max-width: 200px;
      }
    }

    &-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.8;
      color: #523628;
      letter-spacing: .2em;
    }

    &-price {
      display: flex;
      width: 100%;

      div:first-child {
        margin-right: 25%;
      }
    }

    @include screen(960) {
      flex-wrap: wrap;

      &-pic {
        width: 100%;
        margin-bottom: 5px;
      }

      &-info {
        width: 100%;
        padding: 20px;
        font-size: 16px;
      }

      &-price {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;

        div:first-child {
          margin-right: 0;
        }

        div {
          width: 100%;
        }
      }
    }

    &-amount {
      font-size: 16px;
      @include custom-select(#CCD0CF, transparent, #523628, #523628);
    }

    &-delete {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      width: 20px;
      height: 20px;
      background-image: url('/soho/img/icon_delete.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border: 65px solid transparent;
      border-color: transparent  transparent  transparent #bcc6c1;
      transform: translate(50%, -50%) rotate(-45deg);
      transform-origin: center;
    }
  }

  &_discount {
    width: 48%;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #002c18;
    letter-spacing: .15em;
    background-color: #fff;

    @include screen(1200) {
      width: 100%;
    }

    &-title {
      padding: 10px 30px;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      background-color: #002c18;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-itemTitle {
      &-sub {
        font-size: 14px;
        color: #898989;
      }

      &-unused {
        > div:first-child {
          text-decoration: line-through;
        }
      }
    }

    @include screen(480) {
      font-size: 16px;

      &-title {
        padding: 10px;
      }

      &-list {
        padding: 10px;
      }

      &-item {
        flex-wrap: wrap;
        margin-bottom: 5px;
      }

      &-itemTitle {
        width: 100%;
        margin-bottom: 5px;

        &-sub {
          font-size: 12px;
        }
      }

      &-itemContent {
        width: 100%;
        text-align: right;
      }
    }

    &-itemContent {
      @include custom-select(transparent, #898989, #898989, #898989);

      .customSelect {
        font-size: 14px;
        font-weight: 400;
        color: #898989;

        select {
          height: 28px;
          padding: 0 130px 0 24px;
        }
      }

      &-input {
        display: flex;
        gap: 5px;
        width: 50%;
        margin-bottom: 5px;

        input {
          height: 28px;
          font-size: 14px;
          font-weight: 400;
          color: #898989;
          text-align: center;
          border: 1px solid #898989;
          border-radius: 5px;
        }

        button {
          flex-shrink: 0;
          width: auto;
        }
      }

      &-text {
        font-size: 14px;
        color: #898989;
        text-align: right;
        letter-spacing: .05em;
      }

      @include screen(960) {
        .customSelect {
          width: 100%;

          select {
            width: 100%;
            padding: 0 20px 0 20px;
          }
        }

        &-input {
          display: flex;

          input {
            margin-right: 10px;
          }
        }
      }
    }

    &-item-gift {
      flex-wrap: wrap;

      .CartProcess1_discount-itemTitle {
        margin-bottom: 10px;
      }
    }

    &-itemTag {
      width: 55%;
      margin-left: auto;
      font-size: 14px;
      line-height: 2;
      color: #fff;
      text-align: center;
      background-color: #db895b;

      @include screen(960) {
        width: 100%;
      }
    }

    .CartProcess1_btn-go-product {
      display: block;
      margin-right: 20px;
      margin-left: auto;
      padding: 0 40px;
      font-size: 18px;
      @include screen(960) {
        margin-right: auto;
        padding: 0 20px;
      }
    }
  }

  &_charge {
    display: flex;
    justify-content: center;
  }

  &_charge-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #002c18;
    letter-spacing: .1em;

    &-data {
      margin-left: 80px;
      font-size: 28px;
      color: #db895b;
    }

    @include screen(960) {
      &-data {
        margin-left: 5px;
      }
    }
  }

  &_charge-bonus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #898989;
    letter-spacing: .1em;

    &-data {
      margin-left: 30px;
    }

    @include screen(960) {
      margin-bottom: 20px;
      font-size: 16px;

      &-data {
        margin-left: 5px;
      }
    }
  }

  &_btn-go-checkout {
    display: block;
  }
}