.MenuContent {
  &__content {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    padding: 25px 0;
    background-color: #f5f5f5;
  }

  .breadcrumbs {
    margin-bottom: 50px;
  }

  &__menu {
    font-size: 32px;
    color: #142638;
    letter-spacing: 1.5px;
  }

  &__menuName {
    margin-bottom: 20px;
    font-size: 32px;
  }

  &__menuInfo {
    margin-bottom: 50px;
    font-size: 20px;
    color: #951e22;
  }

  .MenuContentCarousel {
    margin-bottom: 50px;
  }

  .footer__deco-brown {
    position: relative;
  }

  &__Btns {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;

    .Button {
      width: 200px;
      margin: 0 25px;
      font-family: 'futura BT', Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
    }
  }

  @include screen(xxl) {
    &__content {
      margin-bottom: 0;
    }

    .breadcrumbs {
      margin-bottom: 25px;
    }

    &__menuName {
      font-size: 28px;
    }

    &__menuInfo {
      margin-bottom: 25px;
      font-size: 16px;
    }

    .MenuContentCarousel {
      margin-bottom: 50px;
    }

    &__Btns {
      top: 50px;

      .Button {
        margin: 0 15px;
      }
    }
  }
}

// xxl | xl | lg | md | sm
// @include screen (xl) {}
