.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.textBounce {
  transform-origin: center bottom;
  animation-name: textBounce;
}
@keyframes textBounce {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  20% {
    transform: translate3d(15px, -15px, 0);
  }

  35% {
    transform: translate3d(-7px, 6px, 0);
  }

  43% {
    transform: translate3d(10px, -20px, 0);
  }

  55% {
    transform: translate3d(-5px, 8px, 0);
  }

  61% {
    transform: translate3d(12px, -25px, 0);
  }

  72% {
    transform: translate3d(-10px, 10px, 0);
  }

  84% {
    transform: translate3d(12px, -16px, 0);
  }

  90% {
    transform: translate3d(-10px, 5px, 0);
  }
}

.bounce {
  transform-origin: center bottom;
  animation-name: bounce;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  53%,
  80% {
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.shake {
  animation-name: shake;
}
@keyframes shake {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.move-x {
  animation: move-x;
  animation-duration: .8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes move-x {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50%);
  }
}