.ProjectHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
  background-color: rgba(0, 0, 0, .6);
}

.ProjectHeader::after,
.ProjectHeader::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 45%;
  height: 2px;
  background-color: #fff;
}

.ProjectHeader::before {
  left: 0;
}

.ProjectHeader::after {
  left: 55%;
}

.ProjectHeader .container {
  position: relative;
  display: flex;
  height: 100%;
}

.ProjectHeader .container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, .6), hsla(0, 0%, 100%, 0));
  transform: translate(-50%, 100%);
}

.ProjectHeader_area {
  z-index: 1;
  flex-basis: 47.5%;
  height: 100%;
  transform-origin: center;
}

.ProjectHeader_area-left .menu {
  justify-content: space-around;
}

.ProjectHeader_area-right {
  display: flex;
  justify-content: space-between;
}

.ProjectHeader_area-right .menu {
  flex: 1;
  flex-shrink: 0;
  justify-content: space-around;
  margin-right: auto;
}

.ProjectHeader .logo {
  z-index: 1;
  flex-basis: 12%;
  min-width: 120px;
  padding-top: 20px;
  text-align: center;
}

.ProjectHeader .logo img {
  width: 60%;
  margin: 0 auto;
}

.ProjectHeader .menu {
  display: flex;
  height: 100%;
  color: #fff;
}

.ProjectHeader .menu a {
  display: block;
  font-weight: 700;
  letter-spacing: .1rem;
}

.ProjectHeader .menu_item {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  margin: 0 20px;
  padding: 35px 0 20px 0;
}

.ProjectHeader .menu_item::after,
.ProjectHeader .menu_item::before {
  content: '';
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s;
}

.ProjectHeader .menu_item::before {
  top: 40px;
  left: -5px;
  width: 45px;
  padding-top: 34px;
  background-image: url(/img/navbar/navbar-active.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  transform: translateX(-100%);
}

.ProjectHeader .menu_item::after {
  bottom: 0;
  left: 50%;
  width: 120%;
  height: 4px;
  background-color: #d38759;
  border-radius: 4px;
  transform: translateX(-50%);
}

.ProjectHeader .menu_item-active,
.ProjectHeader .menu_item:hover {
  position: relative;
}

.ProjectHeader .menu_item-active::after,
.ProjectHeader .menu_item-active::before,
.ProjectHeader .menu_item:hover::after,
.ProjectHeader .menu_item:hover::before {
  opacity: 1;
}

.ProjectHeader .menu_itemText-en {
  font-weight: 500;
}

.ProjectHeader .functionBar {
  display: flex;
  align-items: center;
  height: 100%;
}

.ProjectHeader .functionBar button {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: 50%;
}

.ProjectHeader .functionBar #functionBar_member {
  background-image: url(/img/navbar/navbar_member.png);
}

.ProjectHeader .functionBar #functionBar_cart {
  background-image: url(/img/navbar/navbar_cart.png);
}

.ProjectHeader .functionBar_search {
  position: relative;
  flex: 0;
  margin-left: 10px;
  padding-left: 25px;
}

.ProjectHeader .functionBar_search::before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(/img/navbar/navbar_search.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.ProjectHeader .functionBar_search input {
  width: 100px;
  font-weight: 500;
  color: #fff;
  letter-spacing: .1rem;
  background-color: transparent;
  border: none;
}

.ProjectHeader .functionBar_search input:focus,
.ProjectHeader .functionBar_search input:focus-visible {
  border: none;
  outline: none;
}

.ProjectFooter {
  position: relative;
  min-height: 626px;
  padding-top: 100px;
  font-weight: 700;
  color: #fff;
  background-color: #002d18;
}

.ProjectFooter_content {
  padding: 0 25px;
  padding-bottom: 120px;
}

.ProjectFooter_logoWrap {
  margin-bottom: 40px;
}

.ProjectFooter_linkPart {
  display: flex;
  flex-wrap: wrap;
}

.ProjectFooter_linkCategory {
  flex-shrink: 0;
  margin-right: 58px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .ProjectFooter_linkCategory {
    margin-right: 38px;
  }
}

.ProjectFooter_linkTitle {
  margin-bottom: 15px;
  font-size: 22px;
  color: #9fa49f;
}
@media (max-width: 768px) {
  .ProjectFooter_linkTitle {
    font-size: 18px;
  }
}

.ProjectFooter_linkList {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: .2rem;
}
@media (max-width: 768px) {
  .ProjectFooter_linkList {
    font-size: 14px;
  }
}

.ProjectFooter_linkList a {
  display: flex;
}

.ProjectFooter_linkList-text {
  display: flex;
  align-items: center;
  letter-spacing: .1rem;
}

.ProjectFooter_linkList-text img {
  margin-right: 5px;
}

.ProjectFooter_socialMedia a {
  margin-right: 10px;
}

.ProjectFooter_note {
  padding: 15px 0;
  border-top: 2px solid #fff;
}
@media (max-width: 768px) {
  .ProjectFooter_note {
    font-size: 14px;
  }
}

.FloatBtn {
  position: fixed;
  right: 20px;
  bottom: 40px;
  max-width: 115px;
}

.FloatBtn a,
.FloatBtn button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: transparent;
}
@media (max-width: 960px) {
  .FloatBtn {
    right: 20px;
    bottom: 40px;
    max-width: 80px;
  }

  .FloatBtn a img {
    width: 40px;
  }

  .FloatBtn a,
  .FloatBtn button {
    margin-bottom: 10px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol,
p,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-moz-placeholder {
  font: inherit;
  color: currentColor;
}

button,
input,
input::placeholder,
select,
textarea {
  font: inherit;
  color: currentColor;
}
@font-face {
  font-family: Microsoft JhengHei Modify;
  unicode-range: u+7db0, u+78a7, u+7b75;
  font-style: normal;
  font-weight: 700;
  src: local('Yu Gothic UI Bold'), local('MS Gothic');
}
@font-face {
  font-family: Microsoft JhengHei Modify;
  src: local('Microsoft JhengHei UI'), local('Microsoft JhengHei');
}
@font-face {
  font-family: Microsoft JhengHei;
  src: local('Microsoft JhengHei UI'), local('Microsoft JhengHei');
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

[class*='col-'] {
  padding: 0 20px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
@media (max-width: 1400px) {
  .col-xxl-1 {
    width: 8.33333%;
    padding: 0 20px;
  }

  .col-xxl-2 {
    width: 16.66667%;
    padding: 0 20px;
  }

  .col-xxl-3 {
    width: 25%;
    padding: 0 20px;
  }

  .col-xxl-4 {
    width: 33.33333%;
    padding: 0 20px;
  }

  .col-xxl-5 {
    width: 41.66667%;
    padding: 0 20px;
  }

  .col-xxl-6 {
    width: 50%;
    padding: 0 20px;
  }

  .col-xxl-7 {
    width: 58.33333%;
    padding: 0 20px;
  }

  .col-xxl-8 {
    width: 66.66667%;
    padding: 0 20px;
  }

  .col-xxl-9 {
    width: 75%;
    padding: 0 20px;
  }

  .col-xxl-10 {
    width: 83.33333%;
    padding: 0 20px;
  }

  .col-xxl-11 {
    width: 91.66667%;
    padding: 0 20px;
  }

  .col-xxl-12 {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
    padding: 0 20px;
  }

  .col-xl-2 {
    width: 16.66667%;
    padding: 0 20px;
  }

  .col-xl-3 {
    width: 25%;
    padding: 0 20px;
  }

  .col-xl-4 {
    width: 33.33333%;
    padding: 0 20px;
  }

  .col-xl-5 {
    width: 41.66667%;
    padding: 0 20px;
  }

  .col-xl-6 {
    width: 50%;
    padding: 0 20px;
  }

  .col-xl-7 {
    width: 58.33333%;
    padding: 0 20px;
  }

  .col-xl-8 {
    width: 66.66667%;
    padding: 0 20px;
  }

  .col-xl-9 {
    width: 75%;
    padding: 0 20px;
  }

  .col-xl-10 {
    width: 83.33333%;
    padding: 0 20px;
  }

  .col-xl-11 {
    width: 91.66667%;
    padding: 0 20px;
  }

  .col-xl-12 {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 960px) {
  .col-lg-1 {
    width: 8.33333%;
    padding: 0 20px;
  }

  .col-lg-2 {
    width: 16.66667%;
    padding: 0 20px;
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 20px;
  }

  .col-lg-4 {
    width: 33.33333%;
    padding: 0 20px;
  }

  .col-lg-5 {
    width: 41.66667%;
    padding: 0 20px;
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 20px;
  }

  .col-lg-7 {
    width: 58.33333%;
    padding: 0 20px;
  }

  .col-lg-8 {
    width: 66.66667%;
    padding: 0 20px;
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 20px;
  }

  .col-lg-10 {
    width: 83.33333%;
    padding: 0 20px;
  }

  .col-lg-11 {
    width: 91.66667%;
    padding: 0 20px;
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
    padding: 0 20px;
  }

  .col-md-2 {
    width: 16.66667%;
    padding: 0 20px;
  }

  .col-md-3 {
    width: 25%;
    padding: 0 20px;
  }

  .col-md-4 {
    width: 33.33333%;
    padding: 0 20px;
  }

  .col-md-5 {
    width: 41.66667%;
    padding: 0 20px;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 20px;
  }

  .col-md-7 {
    width: 58.33333%;
    padding: 0 20px;
  }

  .col-md-8 {
    width: 66.66667%;
    padding: 0 20px;
  }

  .col-md-9 {
    width: 75%;
    padding: 0 20px;
  }

  .col-md-10 {
    width: 83.33333%;
    padding: 0 20px;
  }

  .col-md-11 {
    width: 91.66667%;
    padding: 0 20px;
  }

  .col-md-12 {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .col-sm-1 {
    width: 8.33333%;
    padding: 0 20px;
  }

  .col-sm-2 {
    width: 16.66667%;
    padding: 0 20px;
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 20px;
  }

  .col-sm-4 {
    width: 33.33333%;
    padding: 0 20px;
  }

  .col-sm-5 {
    width: 41.66667%;
    padding: 0 20px;
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 20px;
  }

  .col-sm-7 {
    width: 58.33333%;
    padding: 0 20px;
  }

  .col-sm-8 {
    width: 66.66667%;
    padding: 0 20px;
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 20px;
  }

  .col-sm-10 {
    width: 83.33333%;
    padding: 0 20px;
  }

  .col-sm-11 {
    width: 91.66667%;
    padding: 0 20px;
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 20px;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.textBounce {
  transform-origin: center bottom;
  animation-name: textBounce;
}
@keyframes textBounce {
  0%,
  to {
    transform: translateZ(0);
  }

  20% {
    transform: translate3d(15px, -15px, 0);
  }

  35% {
    transform: translate3d(-7px, 6px, 0);
  }

  43% {
    transform: translate3d(10px, -20px, 0);
  }

  55% {
    transform: translate3d(-5px, 8px, 0);
  }

  61% {
    transform: translate3d(12px, -25px, 0);
  }

  72% {
    transform: translate3d(-10px, 10px, 0);
  }

  84% {
    transform: translate3d(12px, -16px, 0);
  }

  90% {
    transform: translate3d(-10px, 5px, 0);
  }
}

.bounce {
  transform-origin: center bottom;
  animation-name: bounce;
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.shake {
  animation-name: shake;
}
@keyframes shake {
  0%,
  to {
    transform: translateZ(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  overflow: auto;
  font-family: Cinzel, 'Noto Serif TC', serif, Roboto, Arial,
    Microsoft JhengHei Modify, Microsoft JhengHei, PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5f5f5;
}

.notSans {
  font-family: Noto Sans TC, sans-serif;
}

.notoSerif {
  font-family: 'Noto Serif TC', serif;
}

button,
input,
label,
select {
  cursor: pointer;
}

a {
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  padding: 0;
}

.helper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: .3;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.app__view {
  flex: 1;
  width: 100%;
}

.Index .kv {
  position: relative;
  z-index: 1;
}

.Index .kv::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8%;
  height: 145px;
  background-image: url(/img/index/index_kvIcon.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  transform: translate(-50%, 50%);
}
@media (max-width: 768px) {
  .Index .kv::after {
    display: none;
  }
}

.Index .productIntro {
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
  background-image: url(/img/index/product1_bg.png),
    url(/img/index/product3_bg.jpg);
  background-repeat: no-repeat, repeat;
  background-position: 0 100%, 50%;
  background-size: 1920px, cover;
}
@media (max-width: 768px) {
  .Index .productIntro {
    padding-top: 40px;
  }
}

.Index .productIntro_marque {
  margin-bottom: 30px;
}

.Index .productIntro_intro .container {
  max-width: 1300px;
}
@media (max-width: 960px) {
  .Index .productIntro_intro .container {
    padding: 0 20px;
  }
}

.Index .productIntro .marque {
  position: relative;
  margin-left: 20%;
  padding: 27px 0 22px 45px;
  background-color: #012e18;
}

.Index .productIntro .marque::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -100px;
  width: 115px;
  height: 163px;
  background-image: url(/img/index/marque_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.Index .productIntro .marque_wrap {
  width: 100%;
  overflow: hidden;
}

.Index .productIntro .marque .content {
  display: inline-block;
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.Index .productIntro .marque .content_highLight {
  font-size: 32px;
}
@media (max-width: 960px) {
  .Index .productIntro .marque {
    padding: 12px 0 12px 10px;
  }

  .Index .productIntro .marque::before {
    top: -3px;
    left: -56px;
    width: 56px;
    height: 67px;
  }

  .Index .productIntro .marque .content {
    font-size: 20px;
  }

  .Index .productIntro .marque .content_highLight {
    font-size: 16px;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.Index .productIntro .productList {
  display: flex;
  flex-wrap: wrap;
}

.Index .productIntro .productList .productItem:nth-child(odd) {
  flex-direction: column;
}

.Index .productIntro .productList .productItem:nth-child(odd) .productThumb::before {
  top: 0;
}

.Index .productIntro .productItem {
  display: flex;
  flex-direction: column-reverse;
  width: 25%;
  padding: 10px 20px;
}

.Index .productIntro .productItem_desc,
.Index .productIntro .productItem_thumb {
  padding: 10px 0;
}

.Index .productIntro .productItem:hover .action {
  opacity: 1;
}
@media (max-width: 960px) {
  .Index .productIntro .productItem {
    width: 50%;
    padding: 10px;
  }

  .Index .productIntro .productItem_desc,
  .Index .productIntro .productItem_thumb {
    max-width: 250px;
    margin: 0 auto;
    padding: 5px 0;
  }
}

.Index .productIntro .productThumb {
  position: relative;
}

.Index .productIntro .productThumb::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 1px;
  height: 60px;
  background-color: #000;
}

.Index .productIntro .productThumb img {
  margin: 0 auto;
}

.Index .productIntro .productDesc {
  color: #523628;
}

.Index .productIntro .productDesc_icon {
  display: block;
  width: 20px;
  height: 25px;
  margin: 0 auto 5px;
  background-image: url(/img/index/icon_seaweed.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
@media (max-width: 960px) {
  .Index .productIntro .productDesc_icon {
    width: 15px;
    height: 20px;
  }
}

.Index .productIntro .productDesc_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .1rem;
}
@media (max-width: 1100px) {
  .Index .productIntro .productDesc_title {
    font-size: 24px;
  }
}

.Index .productIntro .productDesc_desc {
  display: -webkit-box;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 1100px) {
  .Index .productIntro .productDesc_desc {
    font-size: 14px;
  }
}

.Index .productIntro .productDesc_price {
  display: flex;
  justify-content: space-between;
}

.Index .productIntro .price {
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1rem;
}

.Index .productIntro .price span {
  font-size: 20px;
}
@media (max-width: 1100px) {
  .Index .productIntro .price {
    font-size: 12px;
  }

  .Index .productIntro .price span {
    font-size: 16px;
  }
}

.Index .productIntro .action {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity .3s;
}

.Index .productIntro .action_icon-cart {
  width: 35px;
  height: 35px;
  background-image: url(/img/index/icon_cart.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.Index .productIntro .action_icon-cart:hover {
  background-image: url(/img/index/icon_cart-active.png);
}
@media (max-width: 1100px) {
  .Index .productIntro .action_icon-cart {
    width: 24px;
    height: 24px;
  }
}

.Index .productIntro .action_icon-bag {
  width: 35px;
  height: 35px;
  background-image: url(/img/index/icon_bag.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.Index .productIntro .action_icon-bag:hover {
  background-image: url(/img/index/icon_bag-active.png);
}
@media (max-width: 1100px) {
  .Index .productIntro .action_icon-bag {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 1100px) {
  .Index .productIntro .action {
    gap: 5px;
  }
}

.Index .productIntro .deco {
  position: relative;
  width: 35px;
  height: 12px;
  margin: 10px auto;
}

.Index .productIntro .deco::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-right: 3px solid #e08859;
  border-bottom: 2px solid #e08859;
  transform: skew(45deg);
}
@media (max-width: 1100px) {
  .Index .productIntro .deco {
    transform: scale(.8);
  }
}

.Index .productIntro .productNav {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.Index .productIntro .productNav_icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  transition: opacity .3s;
}

.Index .productIntro .productNav_icon:hover {
  opacity: .8;
}

.Index .productIntro .productNav_icon--left {
  background-image: url(/img/index/icon_marqueeL.png);
}

.Index .productIntro .productNav_icon--right {
  background-image: url(/img/index/icon_marqueeR.png);
}

.Index .productIntro .productPager {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 30px;
}

.Index .productIntro .productPager_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url(/img/index/icon_sliderDot.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image .3s;
}

.Index .productIntro .productPager_icon.active,
.Index .productIntro .productPager_icon:hover {
  background-image: url(/img/index/icon_sliderDot-active.png);
}

.Index .ad {
  position: relative;
  padding: 40px 0 40px 13%;
  background-image: url(/img/index/ad_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}
@media (max-width: 960px) {
  .Index .ad {
    padding: 40px 0 40px 0;
  }
}

.Index .productGift {
  position: relative;
  padding: 60px 0 60px 0;
}
@media (max-width: 768px) {
  .Index .productGift {
    padding: 40px 0 40px 0;
  }
}

.Index .productGift .setList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Index .productGift .setList .setItem:nth-child(2n) {
  margin-left: -9%;
}

.Index .productGift .setList .setItem:nth-child(2n) .setThumb {
  padding-left: 18%;
}

.Index .productGift .setList .setItem:nth-child(odd) {
  margin-right: -9%;
}

.Index .productGift .setList .setItem:nth-child(odd) .setThumb {
  padding-right: 18%;
}
@media (max-width: 960px) {
  .Index .productGift .setList .setItem:nth-child(2n),
  .Index .productGift .setList .setItem:nth-child(odd) {
    margin: 0;
  }
}

.Index .productGift .setItem {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Index .productGift .setItem_thumb {
  margin: 0 auto;
  padding: 10px 20px;
}

.Index .productGift .setItem_desc {
  max-width: 250px;
  margin: 0 auto;
}

.Index .productGift .setItem:hover .action {
  opacity: 1;
}
@media (max-width: 960px) {
  .Index .productGift .setItem {
    width: 100%;
    padding: 10px;
  }

  .Index .productGift .setItem_desc,
  .Index .productGift .setItem_thumb {
    margin: 0 auto;
    padding: 5px 0;
  }
}

.Index .productGift .setThumb {
  position: relative;
}

.Index .productGift .setThumb img {
  margin: 0 auto;
}

.Index .productGift .setThumb_action {
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: flex;
  justify-content: flex-end;
  width: 250px;
  transform: translateX(-50%);
}

.Index .productGift .setDesc {
  color: #523628;
}

.Index .productGift .setDesc_title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .1rem;
}
@media (max-width: 1100px) {
  .Index .productGift .setDesc_title {
    font-size: 24px;
  }
}

.Index .productGift .setDesc_desc {
  display: -webkit-box;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 1100px) {
  .Index .productGift .setDesc_desc {
    font-size: 14px;
  }
}

.Index .productGift .setDesc_price {
  display: flex;
  justify-content: space-between;
}

.Index .productGift .price {
  display: flex;
  flex-shrink: 0;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1rem;
}

.Index .productGift .price span {
  font-size: 20px;
}
@media (max-width: 1100px) {
  .Index .productGift .price {
    font-size: 12px;
  }

  .Index .productGift .price span {
    font-size: 16px;
  }
}

.Index .productGift .price--delete {
  text-decoration: line-through;
}

.Index .productGift .action {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity .3s;
}

.Index .productGift .action_icon-cart {
  width: 35px;
  height: 35px;
  background-image: url(/img/index/icon_cart.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.Index .productGift .action_icon-cart:hover {
  background-image: url(/img/index/icon_cart-active.png);
}
@media (max-width: 1100px) {
  .Index .productGift .action_icon-cart {
    width: 24px;
    height: 24px;
  }
}

.Index .productGift .action_icon-bag {
  width: 35px;
  height: 35px;
  background-image: url(/img/index/icon_bag.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.Index .productGift .action_icon-bag:hover {
  background-image: url(/img/index/icon_bag-active.png);
}
@media (max-width: 1100px) {
  .Index .productGift .action_icon-bag {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 1100px) {
  .Index .productGift .action {
    gap: 5px;
  }
}

.Index .productGift .deco {
  position: relative;
  width: 35px;
  height: 12px;
  margin: 10px auto;
}

.Index .productGift .deco::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-right: 3px solid #e08859;
  border-bottom: 2px solid #e08859;
  transform: skew(45deg);
}
@media (max-width: 1100px) {
  .Index .productGift .deco {
    transform: scale(.8);
  }
}

.Index .productGiftTitle {
  position: relative;
  margin-bottom: 30px;
}

.Index .productGiftTitle img {
  width: 40%;
  min-width: 300px;
  max-width: 540px;
}

.Index .productGiftTitle::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 18%;
  height: 1px;
  background-color: #012d17;
}

.Index .productGiftPromote {
  padding: 40px 0 70px;
}
@media (max-width: 768px) {
  .Index .productGiftPromote {
    padding: 20px 0 20px;
  }
}

.Index .productFeature {
  position: relative;
  padding: 0 0 240px 0;
  background-image: url(/img/index/feature_bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media (max-width: 960px) {
  .Index .productFeature {
    padding: 40px 0 40px 0;
  }
}

.Index .productFeature_promote {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  color: #fff;
  transform: translateY(-25%);
}

.Index .productFeature_promoteItem {
  width: 50%;
  font-size: 40px;
  font-weight: 500;
  line-height: 2.75;
  text-align: center;
  letter-spacing: .2rem;
  background-image: url(/img/index/feature_iconBg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media (max-width: 960px) {
  .Index .productFeature_promote {
    flex-wrap: wrap;
    margin-bottom: 20px;
    transform: translateY(0);
  }

  .Index .productFeature_promoteItem {
    width: 100%;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .Index .productFeature_promoteItem {
    font-size: 20px;
  }
}

.Index .productFeature_gallery-col {
  display: flex;
  margin-bottom: 40px;
  padding: 0;
}

.Index .productFeature_gallery-col:last-child {
  margin-bottom: 0;
}

.Index .productFeature_gallery-col-3 {
  gap: 40px;
}

.Index .productFeature_galleryItem {
  flex: 1;
}

.Index .productFeature_galleryItem img {
  width: 100%;
}
@media (max-width: 960px) {
  .Index .productFeature_gallery-col {
    margin-bottom: 20px;
  }

  .Index .productFeature_gallery-col-3 {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .Index .productFeature_gallery-col-3 {
    gap: 0;
  }
}

.Index .productBg {
  background-image: url(/img/index/product3_bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.Index .productRecommend {
  position: relative;
}

.Index .productRecommend_item {
  position: relative;
  display: flex;
  width: 72%;
  margin: 0 auto;
  transform: translateY(-8%);
}

.Index .productRecommend_item-pic {
  flex-shrink: 0;
}

.Index .productRecommend_item-info {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: #523628;
  letter-spacing: .15rem;
}

.Index .productRecommend_item-infoWrap {
  padding: 0 15px;
}

.Index .productRecommend_item-infoTitle {
  font-size: 36px;
  font-weight: 700;
}

.Index .productRecommend_item-infoText {
  margin-bottom: 40px;
  font-size: 20px;
}

.Index .productRecommend_item-infoArrow {
  position: relative;
  width: 50px;
  height: 12px;
}

.Index .productRecommend_item-infoArrow::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-right: 3px solid #e08859;
  border-bottom: 2px solid #e08859;
  transform: skew(45deg);
}

.Index .productRecommend_item-infoArrow::before {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(10%, -20%);
}
@media (max-width: 1360px) {
  .Index .productRecommend_item {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .Index .productRecommend_item {
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    transform: translateY(0);
  }

  .Index .productRecommend_item-pic {
    flex-shrink: 1;
  }

  .Index .productRecommend_item-infoTitle {
    font-size: 28px;
  }

  .Index .productRecommend_item-infoText {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.Index .productRecommend_item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Index .productAll {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}
@media (max-width: 960px) {
  .Index .productAll {
    padding: 20px 0;
  }
}

.Index .productAll_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 1360px) {
  .Index .productAll_list {
    width: 100%;
  }
}

.Index .productAll_item {
  flex-shrink: 0;
  width: 20%;
  cursor: pointer;
}
@media (max-width: 1360px) {
  .Index .productAll_item {
    width: 33.333333%;
  }
}
@media (max-width: 960px) {
  .Index .productAll_item {
    width: 50%;
  }
}

.Index .productAll_itemWrap {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}

.Index .productAll_itemWrap > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (max-width: 960px) {
  .Index .productAll_itemWrap {
    max-width: auto;
  }
}

.Index .productAll_itemTop {
  position: relative;
  margin-bottom: 0;
}

.Index .productAll_itemTop::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 134%;
  padding-top: 128%;
  background-image: url(/img/index/product3_item-activeBg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  opacity: 0;
  transition: opacity .3s;
  transform: translate(-50%, -50%);
}

.Index .productAll_itemTop-pic {
  position: relative;
  z-index: 1;
}

.Index .productAll_itemBottom {
  padding: 0 20px 10px 20px;
  color: #523628;
  text-align: center;
}

.Index .productAll_itemBottom-textWrapTitle {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 700;
}

.Index .productAll_itemBottom-textWrapText {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.1;
}

.Index .productAll_itemBottom-textWrapPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Index .productAll_itemBottom-textWrapPrice p {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1rem;
}

.Index .productAll_itemBottom-textWrapPrice p:first-child::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 1px;
  background-color: #523628;
  transform: translate(-50%, -50%);
}

.Index .productAll_itemBottom-textWrapPrice span {
  margin-left: 5px;
  font-size: 20px;
}
@media (max-width: 960px) {
  .Index .productAll_itemBottom {
    padding: 10px 10px;
  }

  .Index .productAll_itemBottom-textWrapTitle {
    font-size: 24px;
  }

  .Index .productAll_itemBottom-textWrapText {
    font-size: 14px;
  }

  .Index .productAll_itemBottom-textWrapPrice p {
    justify-content: center;
    width: 100%;
    font-size: 12px;
  }

  .Index .productAll_itemBottom-textWrapPrice p:first-child::after {
    width: 50%;
  }

  .Index .productAll_itemBottom-textWrapPrice span {
    font-size: 16px;
  }
}

.Index .productAll_itemBtns {
  text-align: center;
  opacity: 0;
  transition: opacity .3s;
}

.Index .productAll_itemBtns button {
  width: 15%;
  max-width: 40px;
  margin: 0 10px;
  padding-top: 15%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: 50%;
}

.Index .productAll_itemBtns-cart {
  background-image: url(/img/index/icon_cart.png);
}

.Index .productAll_itemBtns-cart:hover {
  background-image: url(/img/index/icon_cart-active.png);
}

.Index .productAll_itemBtns-bag {
  background-image: url(/img/index/icon_bag.png);
}

.Index .productAll_itemBtns-bag:hover {
  background-image: url(/img/index/icon_bag-active.png);
}

.Index .productAll_item:hover .productAll_itemBtns,
.Index .productAll_item:hover .productAll_itemTop-arrow,
.Index .productAll_item:hover .productAll_itemTop::after {
  opacity: 1;
}

.Index .slogan {
  position: relative;
  padding-top: 50%;
  background-image: url(/img/index/slogan_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
@media (max-width: 768px) {
  .Index .slogan {
    padding-top: 80%;
  }
}

.Index .slogan img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  min-width: 320px;
  transform: translate(-50%, -50%);
}
