
.ProjectHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
  color: #ffffff;
  background-color: rgba($color: #000000, $alpha: .6);

  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 45%;
    height: 2px;
    background-color: #fff;
  }

  &::before {
    left: 0%;
  }

  &::after {
    right: 0%;
  }

  .container {
    display: flex;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 0;
      width: 200%;
      height: 50px;
      background: linear-gradient(180deg, rgba(0, 0, 0, .6) 0%, rgba(255, 255, 255, 0) 100%);
    }
    @include screen(1280) {
      max-width: 100%;
    }
  }

  .ProjectHeader-mobile {
    display: none;
  }

  &_area {
    flex-basis: 45%;
    flex-shrink: 0;
    height: 100%;
    transform-origin: center;

    &-left {
      .menu {
        justify-content: space-around;
      }
    }

    &-right {
      display: flex;
      justify-content: space-between;

      .menu {
        flex: 1;
        flex-shrink: 0;
        justify-content: space-around;
        margin-right: auto;
      }
    }
  }

  .logo {
    position: relative;
    left: 5px;
    z-index: 1;
    flex-basis: 10%;
    min-width: 120px;
    padding: 20px 1% 0;
    text-align: center;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  .menu {
    display: flex;
    height: 100%;
    color: #fff;

    .menu_itemContent {
      font-weight: 700;
    }

    a {
      display: block;
      letter-spacing: .1rem;
    }
  }

  .menu_item {
    flex-shrink: 0;
    height: 100%;
    margin: 0 20px;

    .menu_itemContent {
      position: relative;
      height: 100%;
      padding: 35px 0 20px 0;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity  .3s;
      }

      &::before {
        top: 40px;
        left: -2px;
        width: 35px;
        padding-top: 34px;
        background-image: url('/soho/img/navbar/navbar-active.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateX(-100%);
      }

      &::after {
        bottom: 0;
        left: 50%;
        width: 120%;
        height: 4px;
        background-color: #d38759;
        border-radius: 4px;
        transform: translateX(-50%);
      }

      &:hover,
      &-active {
        position: relative;

        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &Text-zh {
      font-size: 16px;
    }

    &Text-en {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .menu_itemSubMenu.active,
  .menu_itemSubMenu:hover {
    .navbar_submenuProduct {
      display: flex;
    }
  }

  .functionBar {
    display: flex;
    align-items: stretch;
    height: 100%;

    >div {
      display: flex;
      align-items: center;
    }

    .navbar_btn {
      display: block;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-radius: 50%;
    }

    &_member {
      position: relative;

      &.active .navbar_toolMember {
        display: block;
      }

      &.active::before {
        content: '';
        position: absolute;
        top: 100%;
        z-index: 10;
        width: 250px;
        border-top: 4px solid #f5a87b;
        transform: translateY(-100%);
      }

      &.active::after {
        content: '';
        position: absolute;
        top: calc(100% - 12px);
        left: 6px;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #f5a87b transparent;
        border-style: solid;
        border-width: 0 10px 12px 10px;
      }
    }

    .functionBar_memberBtn {
      background-image: url('/soho/img/navbar/navbar_member.png');
    }

    .functionBar_member {
      @include screen(1280) {
        position: static;
      }
    }

    .functionBar_cartBtn {
      background-image: url('/soho/img/navbar/navbar_cart.png');
    }

    &_search {
      position: relative;
      flex: 0;
      margin-left: 10px;
      padding-left: 25px;

      &::before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url('/soho/img/navbar/navbar_search.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      input {
        width: 100px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        letter-spacing: .1rem;
        background-color: transparent;
        border: none;

        &:focus,
        &:focus-visible {
          border: none;
          outline: none;
        }
      }
    }
  }

  @include screen(1280) {
    height: 80px;
    background-color: transparent;

    &.mb-active .ProjectHeader-pc {
      position: fixed;
      left: 0;
      z-index: 20;
      display: flex;
      gap: 20px;
      width: calc(100% - 80px);
      padding: 20px;
      background-color: #062e17;

      &::after {
        left: 100%;
        width: calc(100% - 80px);
        background: linear-gradient(90deg, rgba(0, 0, 0, .6) 0%, rgba(255, 255, 255, 0) 100%);
        transform: none;
      }

      .logo {
        flex-basis: auto;
        order: -1;
        width: 70px;
        min-width: auto;
        padding-top: 0;
      }

      .closeBtn {
        position: absolute;
        top: 30px;
        right: 20px;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #8ca097;
        border-radius: 50%;

        &::before {
          content: '';
          position: absolute;
          top: 15%;
          left: 45%;
          height: 20px;
          border-left: 3px solid #052b1b;
          transform: rotate(45deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 15%;
          left: 45%;
          height: 20px;
          border-left: 3px solid #052b1b;
          transform: rotate(-45deg);
        }
      }

      .ProjectHeader_area {
        flex-basis: auto;
        flex-direction: column;
        height: auto;

        .menu {
          flex-direction: column;
          align-items: flex-start;
          height: auto;
        }
      }

      .ProjectHeader_area-right {
        z-index: 0;
        gap: 20px;
      }
    }

    .menu_item .menu_itemContent:hover,
    .menu_item .menu_itemContent-active {
      &::before,
      &::after {
        display: none;
      }
    }

    .ProjectHeader-pc {
      display: none;
      flex-direction: column;
    }

    .menu {
      gap: 20px;
    }

    .menu_itemContent {
      > a,
      > div {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    .menu_item {
      height: auto;

      .menu_itemContent {
        height: auto;
        padding: 0;
      }
    }

    .functionBar {
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px;

      & > :nth-child(3) {
        width: 100%;
      }
    }

    .functionBar_search {
      flex: auto;
      margin-top: 20px;

      input {
        width: 100%;
      }
    }

    .ProjectHeader-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        flex-basis: auto;
        width: 50px;
        min-width: auto;
        padding: 0;

        img {
          width: 100%;
        }
      }

      .right {
        position: relative;
        z-index: 1;
        display: flex;
        gap: 10px;
        align-items: center;

        .hamburger {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 30px;
          height: 25px;
          padding: 0;

          span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
          }

          span:nth-child(even) {
            width: 80%;
          }
        }
      }

      &::after {
        top: 0;
        height: 130%;
        background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &::before,
    &::after {
      display: none;
    }

    .menu_itemSubMenu:hover {
      .navbar_submenuProduct {
        display: none;
      }
    }

    .menu_itemSubMenu.active {
      .navbar_submenuProduct {
        display: flex;
      }
    }
  }

  .navbar_toolMember {
    position: absolute;
    top: 100%;
    z-index: 10;
    display: none;
    width: 250px;
    padding: 20px;
    background-color: rgba(#052b1b, .7);
    border-radius: 0 0 10px 10px;

    &Main {
      display: flex;

      img {
        width: 30px;
      }

      >a {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 25%;
        font-size: 10px;
        transition: transform .3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &Sub {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 20px;
      padding: 10px 20px 20px 40px;
      font-size: 14px;
      list-style-type: square;
      background-color: rgba(#6d8578, .8);
    }

    &Status {
      margin-top: 10px;
      font-size: 14px;

      a {
        display: block;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: all .3s;

        &:hover {
          color: #052b1b;
          background-color: #fff;
        }
      }
    }

    @include screen(1280) {
      position: fixed;
      top: 100px;
      bottom: 0;
      left: 0;
      z-index: 20;
      width: calc(100% - 80px);
      background-color: #002c18;

      &Main {
        > a {
          font-size: 16px;
        }
      }

      &Sub {
        padding: 10px 20px 10px 40px;
        font-size: 16px;
      }

      &Status {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }

  .navbar_submenu {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    background-image: url('/soho/img/navbar/navbar_subMenuBg.jpg');
    background-position: center;
    background-size: cover;

    a {
      display: inline-block;
      cursor: pointer;
      transition: transform .3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .container {
      width: 100%;
      margin: 0 auto;
    }

    @include screen(1280) {
      position: fixed;
      top: 100px;
      bottom: 0;
      width: calc(100% - 80px);
      background-color: #062e17;
      background-image: none;

      .container {
        flex-direction: column;
        overflow: auto;
      }

      .navbar_submenuProductHotType {
        gap: 15px;
        width: 100%;
        padding: 20px 0;
        border-right: 0px;
        border-bottom: 1px solid #fff;

        .navbar_submenuItemButton {
          width: 250px;
        }
      }

      .navbar_submenuProductType {
        width: 100%;
        padding: 20px 0;
        border-right: 0px;
        border-bottom: 1px solid #fff;
      }

      .navbar_submenuProductAd {
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;

        .navbar_submenuProductAdBlock {
          width: 100%;
          padding: 0;
        }

        img {
          width: 100%;
          max-width: 300px;
        }

        .navbar_submenuProductAdBlockTitle {
          margin-top: 10px;
          margin-bottom: 0px;
        }

        .navbar_submenuProductAdBlockLink {
          width: auto;
          margin-top: 5px;
        }
      }
    }
  }

  .navbar_submenuProduct {
    flex-shrink: 0;

    &HotType {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: 20px;
      align-items: flex-start;
      width: 25%;
      padding: 20px 20px;
      font-size: 16px;
      border-right: 1px solid #fff;

      .navbar_submenu-highlight {
        color: #ea9564;
        text-decoration: underline;

        @include screen(1280) {
          br {
            display: none;
          }
        }
      }

      .navbar_submenuItemButton {
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;
        color: #002c18;
        text-align: center;
        background-color: #8ca097;
        border-radius: 5px;
      }

      .navbar_submenuItemButton-benefit {
        color: #002c18;
        background-color: #ea9564;

        span {
          display: inline-block;
          width: 20px;
          height: 8px;
          border-right: 1px solid #002c18;
          border-bottom: 1px solid #002c18;
          transform: skew(30deg);
        }
      }
    }
  }

  .navbar_submenuProductType {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    align-items: flex-start;
    width: 20%;
    padding: 20px 30px;
    font-size: 16px;
    border-right: 1px solid #fff;
  }

  .navbar_submenuProductAd {
    display: flex;
    flex-grow: 1;
    gap: 40px;
    padding: 20px 40px;
    font-size: 14px;

    .navbar_submenuProductAdBlock {
      width: 50%;
    }

    .navbar_submenuProductAdBlockTitle {
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 20px;
      font-weight: 700;
    }

    .navbar_submenuProductAdBlockLink {
      width: 100%;
      margin-top: 10px;
      padding: 3px 10px;
      font-size: 16px;
      color: #002c18;
      text-align: center;
      background-color: #8ca097;
      border-radius: 5px;
    }
  }
}