.OrderStatus {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  color: #052d18;
  background-color: #ffffff;
  background-image: url('/soho/img/orderStatus/bg_contentHeader.png'), url('/soho/img/orderStatus/login_bgDown.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: cover auto, cover auto;

  @include screen(1360) {
    font-size: 16px;
  }

  .container {
    max-width: 1480px;
    padding: 70px 40px 200px;
    padding-bottom: 200px;
    @include screen(1360) {
      padding: 20px 20px 40px;
    }
  }

  &_pageTitle {
    margin-bottom: 30px;
    font-size: 40px;
    @include screen(1360) {
      font-size: 30px;
    }
  }

  &_item {
    padding: 0 35px 30px;
    background-color: #ffffff;
    transition: background-color .5s;

    &.active {
      background-color: #f6f6f6;

      .OrderStatus_itemGoods {
        display: block;
      }

      .OrderStatus_itemTriggerArrow {
        transform: rotate(45deg);
      }
    }

    & ~ .OrderStatus_item {
      border-top: #052d18 1px solid;
    }
    @include screen(960) {
      padding: 0 20px 20px;
    }
  }

  &_itemStatus {
    display: flex;
    align-items: center;

    span {
      padding: 0px 30px;
      font-size: 18px;
      line-height: 30px;
      color: #ffffff;
      background-color: rgba(1, 45, 25, .5);
    }

    &.unpaid span {
      background-color: #d3865a;
    }
  }

  &_content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 15px 0;
    margin-top: 25px;
    margin-right: 15%;
    margin-bottom: 15px;
    @include screen(1360) {
      margin-right: 0;
    }

    @include screen(960) {
      display: block;
      margin-top: 20px;
    }
  }

  &_text {
    &-highlight {
      color: #523628;
    }
  }

  &_itemTrigger {
    text-align: right;

    button {
      display: inline-flex;
      gap: 5px;
      align-items: center;
      padding: 5px 20px;
      font-size: 16px;
      text-align: center;
      letter-spacing: 5px;
      background-color: #9caca3;
      border-radius: 5px;
    }

    &Arrow {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-top: 1px solid #052d18;
      border-left: 1px solid #052d18;
      transition: transform .2s;
      transform: rotate(-135deg) translateX(5px);
    }
  }

  &_itemGoods {
    display: none;
    margin-top: 30px;
    padding: 30px 20px 0;
    background-color: #ffffff;
    @include screen(960) {
      margin-top: 20px;
      padding: 0;
    }
  }

  &_itemGoodsHeader,
  &_itemGood {
    display: flex;
    text-align: center;

    & > div:nth-child(1) {
      width: 10%;
    }

    & > div:nth-child(2) {
      width: 10%;
    }

    & > div:nth-child(3) {
      width: 25%;
    }

    & > div:nth-child(4) {
      width: 10%;
    }

    & > div:nth-child(5) {
      width: 30%;
    }
    @include screen(960) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;

      & > div {
        width: 100%;
        text-align: left;
      }

      & > div::before {
        content: var(--text);
        display: inline-block;
        width: 50px;
      }

      & > div:nth-child(1) {
        width: 100%;
        max-width: 300px;
      }

      & > div:nth-child(2) {
        --text: '品名：';
        width: 100%;
      }

      & > div:nth-child(3) {
        width: 100%;
        --text: '數量：';
      }

      & > div:nth-child(4) {
        width: 100%;
        --text: '單價：';
      }

      & > div:nth-child(5) {
        width: 100%;
        --text: '小計：';
      }
    }
  }

  &_itemGoodsHeader {
    @include screen(960) {
      display: none;
    }
  }

  &_itemGood ~ &_itemGood {
    border-top: 1px solid #052d18;
  }

  &_itemGood {
    align-items: center;
    min-height: 100px;
    font-size: 16px;
    color: #523628;
    text-align: center;

    >div {
      height: 100%;
    }

    img {
      width: 100%;
    }
  }
}