.Bonus {
  overflow: hidden;
  background-color: #fff;
  background-image: url('/soho/img/bonus/bg_contentHeader.png'), url('/soho/img/bonus/login_bgDown.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: cover auto, cover auto;

  .container {
    padding-top: 50px;
    padding-bottom: 200px;
    @include screen(1360) {
      padding-bottom: 40px;
    }
  }

  &__wrap {
    width: 90%;
    margin: 0 auto;

    @include screen(xl) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 30px;
    font-weight: 700;
    color: #002c18;

    @include screen(xl) {
      font-size: 24px;
    }
  }

  &_total {
    margin-bottom: 20px;
    font-size: 18pt;
    font-weight: 700;
    text-align: right;
    letter-spacing: .1em;

    span {
      font-size: 28pt;
      color: #d3865a;
    }

    @include screen(lg) {
      font-size: 18px;

      span {
        font-size: 24px;
      }
    }
  }

  &_table {
    margin-bottom: 40px;

    @include screen(lg) {
      margin-bottom: 20px;
    }
  }

  &_table-header {
    font-size: 16pt;
    font-weight: 700;
    line-height: 2;
    color: #002c18;
    text-align: center;
    background-color: #fff;

    @include screen(xl) {
      font-size: 16px;
    }

    @include screen(lg) {
      display: none !important;
    }
  }

  &_table-row {
    display: flex;

    @include screen(lg) {
      position: relative;
      flex-wrap: wrap;
    }
  }

  &_table-body {
    color: #002c18;
    letter-spacing: .08em;

    .Bonus_table-row {
      background-color: #fff;
      border-bottom: 1px solid #002c18;

      &:nth-child(odd) {
        background-color: #f6f6f6;
      }
    }

    .text {
      font-size: 20pt;
      font-weight: 500;
      text-align: center;
      letter-spacing: .1em;

      @include screen(xl) {
        font-size: 20px;
      }

      @include screen(lg) {
        font-size: 16px;
        text-align: right;
      }
    }
  }

  &_table-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

    &::before {
      position: absolute;
      top: 50%;
      left: 10px;
      font-size: .8em;
      font-weight: 500;
      transform: translateY(-50%);
    }

    &:nth-child(1) {
      width: 18%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      flex: 1;
      width: 25%;
    }

    &:nth-child(4) {
      width: 12%;
    }

    &:nth-child(5) {
      width: 12%;
    }

    &:nth-child(6) {
      width: 18%;
    }

    @include screen (lg) {
      align-items: flex-end;
      min-height: 40px;
      padding: 5px 10px;
      padding-left: 120px;

      &:nth-child(1) {
        width: 100%;

        &::before {
          content: '日期';
        }
      }

      &:nth-child(2) {
        width: 100%;

        &::before {
          content: '訂單編號';
        }
      }

      &:nth-child(3) {
        width: 100%;

        &::before {
          content: '獲得 / 使用紀錄';
        }
      }

      &:nth-child(4) {
        width: 100%;

        &::before {
          content: '轉入點數';
        }
      }

      &:nth-child(5) {
        width: 100%;

        &::before {
          content: '使用點數';
        }
      }

      &:nth-child(6) {
        width: 100%;

        &::before {
          content: '    到期日';
        }
      }
    }
  }

  &_pageControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    @include screen(xl) {
      margin: 0  auto;
    }

    @include screen(md) {
      justify-content: center;
    }

    &-pages {
      display: flex;
      gap: 10px;
      font-size: 20pt;

      >button {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &.active,
        &:hover {
          background-color: #a9b7b7;
        }
      }

      @include screen(md) {
        font-size: 16px;

        >button {
          width: 30px;
          height: 30px;
        }
      }
    }

    >button {
      padding: 5px 20px;
      font-size: 14px;
      border: 1px solid #002c18;
      border-radius: 5px;

      @include screen(md) {
        display: none;
      }
    }
  }
}