.ShopContent {
  &__content {
    position: relative;
    padding: 25px 0;
    background-color: #fff;
  }

  .breadcrumbs {
    margin-bottom: 75px;
  }

  &__shopBtns {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;

    .Button {
      width: 200px;
      margin: 0 40px;
    }
  }

  &__shop {
    position: relative;
    margin-bottom: 150px;
    color: #142638;
    letter-spacing: 2px;
  }

  &__shopNote {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    padding: 20px 25px;
    font-size: 20px;
    background-color: #f5f5f5;
    border: 1px solid #142638;
  }

  &__shopName {
    margin-bottom: 50px;
    font-size: 30px;
  }

  &__shopPhone,
  &__shopAdd {
    font-size: 24px;
    transition: color .3s;

    &:hover {
      color: #951e23;
    }

    .prefix {
      letter-spacing: 10px;
    }
  }

  &__shopPhone {
    margin-bottom: 10px;

    .number {
      font-weight: 900;
    }
  }

  &__shopAdd {
    margin-bottom: 75px;
  }

  &__shopOpen {
    margin-bottom: 75px;
    font-size: 24px;
    color: #951e23;
  }

  &__shopInfo {
    margin-bottom: 75px;
    font-size: 24px;
    line-height: 2;
  }

  &__shopPic {
    width: 80%;
    margin: 0 auto;
  }

  &__back {
    margin-bottom: 75px;
    text-align: center;

    .Button {
      width: 200px;
    }
  }

  @include screen(xxl) {
    .breadcrumbs {
      margin-bottom: 25px;
    }

    &__shopBtns {
      margin-bottom: 50px;
    }

    &__shop {
      margin-bottom: 50px;
    }

    &__shopNote {
      font-size: 16px;
    }

    &__shopName {
      margin-bottom: 25px;
      font-size: 24px;
    }

    &__shopPhone,
    &__shopAdd {
      font-size: 20px;

      .prefix {
        letter-spacing: 2px;
      }
    }

    &__shopPhone {
      margin-bottom: 5px;
    }

    &__shopAdd {
      margin-bottom: 25px;
    }

    &__shopOpen {
      margin-bottom: 25px;
      font-size: 16px;
    }

    &__shopInfo {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 1.75;
    }

    &__back {
      margin-bottom: 25px;
    }
  }

  @include screen(md) {
    &__shopBtns {
      justify-content: space-between;
      margin-bottom: 25px;

      .Button {
        width: calc(50% - 10px);
        margin: 0;
      }
    }

    &__shopNote {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      padding: 10px 15px;
      font-size: 14px;
    }

    &__shopPic {
      width: 100%;
    }
  }
}

// xxl | xl | lg | md | sm
// @include screen (xl) {}
